In [246]:
import pandas as pd
import numpy as np
import pyodbc
import seaborn as sns
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
import datetime as dt

In [307]:
svr_name = 'KU1ICDDWV011.kunet.ae'
db_name_read = 'CACM'
db_name_write = 'CACMP'
u_name = 'cacm_user'
u_pass = 'Welcome#123'

In [308]:
eng_read = create_engine("mssql+pyodbc://"+u_name+":"+u_pass+"@"+svr_name+"/"+db_name_read+"?driver=ODBC+Driver+17+for+SQL+Server")
eng_write = create_engine("mssql+pyodbc://"+u_name+":"+u_pass+"@"+svr_name+"/"+db_name_write+"?driver=ODBC+Driver+17+for+SQL+Server")

In [309]:
query_pr = "select * from dbo.KU_SRC_BI_KUST_PR"
query_po = "select * from dbo.KU_SRC_BI_KUST_PO"
query_ap = "select * from dbo.KU_SRC_BI_KUST_ap"

In [314]:
pr = pd.read_sql(query_pr, eng_read)
po = pd.read_sql(query_po, eng_read)
#ap = pd.read_sql(query_ap, eng_read)

In [ ]:
#po.reset_index().to_sql('po',eng_write,if_exists='replace')

In [6]:
# ap['VENDOR_NAME'] = ap['VENDOR_NAME'].str.lower()

In [7]:
# ap = ap[ap['CREATION_DATE'] >= '2021-01-01']

In [18]:
# ap[ap['VENDOR_NAME'].str.contains('center')].to_excel('center.xlsx')

In [267]:
po = po[['COST_CENTER_DESC','LEDGER_NAME','PO_NUMBER','VENDOR_NAME','CREATION_DATE','AMOUNT_ORDERED']]

In [281]:
po = po[(po['CREATION_DATE'] >= '2021-01-01') & (po['CREATION_DATE'] <= '2022-6-30')]

In [123]:
#po['CREATION_DATE'] = po['CREATION_DATE'].dt.strftime('%Y-%m')

In [282]:
po

,COST_CENTER_DESC,LEDGER_NAME,PO_NUMBER,VENDOR_NAME,CREATION_DATE,AMOUNT_ORDERED
4942,KUST - Office of the President,KUST Ledger,8472100209,AL GHANEM TRADING & CONTRACTING CO. - DUBAI BR...,2022-03-01,91265.96
4943,KUST - Office of the President,KUST Ledger,8472100209,AL GHANEM TRADING & CONTRACTING CO. - DUBAI BR...,2022-03-01,3201.78
4944,KUST - Office of the President,KUST Ledger,8472100209,AL GHANEM TRADING & CONTRACTING CO. - DUBAI BR...,2022-03-01,7362.58
4945,KUST - Office of the President,KUST Ledger,8472100209,AL GHANEM TRADING & CONTRACTING CO. - DUBAI BR...,2022-03-01,23409.22
4946,KUST - Office of the President,KUST Ledger,8472100209,AL GHANEM TRADING & CONTRACTING CO. - DUBAI BR...,2022-03-01,86843.00
...,...,...,...,...,...,...
56743,KUST - University Sponsored Research,KUST Ledger,8472108647,BIO MEDICAL SCIENTIFIC SERVICES LLC,2022-06-28,715.00
56744,KUST - University Sponsored Research,KUST Ledger,8472108647,BIO MEDICAL SCIENTIFIC SERVICES LLC,2022-06-28,715.00
56776,KUST - Petroleum Engineering,KUST Ledger,8472108138,FAJER AL MADINA GENERAL MAINTENANCE,2022-04-18,51900.00
56777,KUST - Petroleum Engineering,KUST Ledger,8472108138,FAJER AL MADINA GENERAL MAINTENANCE,2022-04-18,5220.00
56778,KUST - Petroleum Engineering,KUST Ledger,8472108138,FAJER AL MADINA GENERAL MAINTENANCE,2022-04-18,1310.00

In [190]:
df3 = po.sort_values(by=['VENDOR_NAME','CREATION_DATE'],ascending=[True,True])

In [74]:
df3.drop_duplicates()

,LEDGER_NAME,PO_NUMBER,VENDOR_NAME,CREATION_DATE,CURRENCY_CODE,AMOUNT_ORDERED,AMOUNT_BILLED
48893,KUST Ledger,8472106744,SHAMS SYSTEMS AND TECHNOLOGIES CO. W.L.L.,2021-06,USD,3400.00,3400.00
45481,KUST Ledger,8472106744,A U M TRADING LLC,2021-10,AED,11000.00,11000.00
49741,KUX - Ledger,8472106744,ABU DHABI NATIONAL HOTELS COMPANY - COMPASS MI...,2021-10,AED,63600.00,63600.00
37721,KUST Ledger,8472106744,ABU DHABI NATIONAL HOTELS COMPANY - COMPASS MI...,2021-06,AED,65518.00,63775.50
37722,KUST Ledger,8472106744,ABU DHABI NATIONAL HOTELS COMPANY - COMPASS MI...,2021-06,AED,64345.88,16549.39
...,...,...,...,...,...,...,...
45401,KUST Ledger,8472106744,samsung.com/ae,2021-10,AED,4199.00,4199.00
46261,KUST Ledger,8472106744,www.fusoseiki.co.jp,2021-08,USD,34.20,0.00
46262,KUST Ledger,8472106744,www.fusoseiki.co.jp,2021-08,USD,139.30,0.00
48372,KUST Ledger,8472106744,www.ossila.com/,2021-08,EUR,2070.00,2070.00
44641,KUST Ledger,8472106744,None,2022-02,AED,1219986.00,0.00

In [191]:
df3

,COST_CENTER_DESC,LEDGER_NAME,PO_NUMBER,VENDOR_NAME,CREATION_DATE,AMOUNT_ORDERED
48893,KUST - University Sponsored Research,KUST Ledger,8472106878,SHAMS SYSTEMS AND TECHNOLOGIES CO. W.L.L.,2021-06-24,3400.00
45481,KUST - Human Resources,KUST Ledger,8472107482,A U M TRADING LLC,2021-10-06,11000.00
37723,KUST - University Sponsored Research,KUST Ledger,8472105862,ABU DHABI NATIONAL HOTELS COMPANY - COMPASS MI...,2021-05-30,12911.16
37721,KUST - Administration,KUST Ledger,8472105862,ABU DHABI NATIONAL HOTELS COMPANY - COMPASS MI...,2021-06-06,65518.00
37722,KUST - Administration,KUST Ledger,8472105862,ABU DHABI NATIONAL HOTELS COMPANY - COMPASS MI...,2021-06-06,64345.88
...,...,...,...,...,...,...
46261,KUST - University Sponsored Research,KUST Ledger,8472107243,www.fusoseiki.co.jp,2021-08-26,34.20
46262,KUST - University Sponsored Research,KUST Ledger,8472107243,www.fusoseiki.co.jp,2021-08-26,139.30
46263,KUST - University Sponsored Research,KUST Ledger,8472107243,www.fusoseiki.co.jp,2021-08-26,139.30
48372,KUST - Research Laboratories,KUST Ledger,8472107097,www.ossila.com/,2021-08-03,2070.00
44641,KUST - Facilities Management,KUST Ledger,8472107754,None,2022-02-11,1219986.00

In [48]:
df3

,LEDGER_NAME,PO_NUMBER,VENDOR_NAME,CREATION_DATE,CURRENCY_CODE,AMOUNT_ORDERED,AMOUNT_BILLED
48893,KUST Ledger,8472106878,SHAMS SYSTEMS AND TECHNOLOGIES CO. W.L.L.,2021-06,USD,3400.00,3400.00
45481,KUST Ledger,8472107482,A U M TRADING LLC,2021-10,AED,11000.00,11000.00
49741,KUX - Ledger,8432201957,ABU DHABI NATIONAL HOTELS COMPANY - COMPASS MI...,2021-10,AED,63600.00,63600.00
37721,KUST Ledger,8472105862,ABU DHABI NATIONAL HOTELS COMPANY - COMPASS MI...,2021-06,AED,65518.00,63775.50
37722,KUST Ledger,8472105862,ABU DHABI NATIONAL HOTELS COMPANY - COMPASS MI...,2021-06,AED,64345.88,16549.39
...,...,...,...,...,...,...,...
46261,KUST Ledger,8472107243,www.fusoseiki.co.jp,2021-08,USD,34.20,0.00
46262,KUST Ledger,8472107243,www.fusoseiki.co.jp,2021-08,USD,139.30,0.00
46263,KUST Ledger,8472107243,www.fusoseiki.co.jp,2021-08,USD,139.30,0.00
48372,KUST Ledger,8472107097,www.ossila.com/,2021-08,EUR,2070.00,2070.00
44641,KUST Ledger,8472107754,None,2022-02,AED,1219986.00,0.00

In [73]:
df3[df3.duplicated()]

,LEDGER_NAME,PO_NUMBER,VENDOR_NAME,CREATION_DATE,CURRENCY_CODE,AMOUNT_ORDERED,AMOUNT_BILLED
50107,KUX - Ledger,8472106744,ACROSS INTERNATIONAL,2021-12,USD,6651.0,0.0
50109,KUX - Ledger,8472106744,ACROSS INTERNATIONAL,2021-12,USD,531.0,0.0
50111,KUX - Ledger,8472106744,ACROSS INTERNATIONAL,2021-12,USD,1705.0,0.0
45406,KUST Ledger,8472106744,AESTHETIX COMMUNICATION TECHNOLOGES LLC,2021-10,AED,33920.0,33920.0
45411,KUST Ledger,8472106744,AESTHETIX COMMUNICATION TECHNOLOGES LLC,2021-10,AED,7500.0,7500.0
...,...,...,...,...,...,...,...
51050,KUST Ledger,8472106744,ZHENGZHOU KEJIA FURNACE CO.LTD,2021-11,USD,1330.0,0.0
51051,KUST Ledger,8472106744,ZHENGZHOU KEJIA FURNACE CO.LTD,2021-11,USD,600.0,0.0
51052,KUST Ledger,8472106744,ZHENGZHOU KEJIA FURNACE CO.LTD,2021-11,USD,600.0,0.0
45688,KUST Ledger,8472106744,https://www.desertcart.ae/orders,2021-04,AED,1530.0,0.0
46263,KUST Ledger,8472106744,www.fusoseiki.co.jp,2021-08,USD,139.3,0.0

In [62]:
df3

,LEDGER_NAME,PO_NUMBER,VENDOR_NAME,CREATION_DATE,CURRENCY_CODE,AMOUNT_ORDERED,AMOUNT_BILLED
48893,KUST Ledger,8472106744,SHAMS SYSTEMS AND TECHNOLOGIES CO. W.L.L.,2021-06,USD,3400.00,3400.00
45481,KUST Ledger,8472106744,A U M TRADING LLC,2021-10,AED,11000.00,11000.00
49741,KUX - Ledger,8472106744,ABU DHABI NATIONAL HOTELS COMPANY - COMPASS MI...,2021-10,AED,63600.00,63600.00
37721,KUST Ledger,8472106744,ABU DHABI NATIONAL HOTELS COMPANY - COMPASS MI...,2021-06,AED,65518.00,63775.50
37722,KUST Ledger,8472106744,ABU DHABI NATIONAL HOTELS COMPANY - COMPASS MI...,2021-06,AED,64345.88,16549.39
...,...,...,...,...,...,...,...
46261,KUST Ledger,8472106744,www.fusoseiki.co.jp,2021-08,USD,34.20,0.00
46262,KUST Ledger,8472106744,www.fusoseiki.co.jp,2021-08,USD,139.30,0.00
46263,KUST Ledger,8472106744,www.fusoseiki.co.jp,2021-08,USD,139.30,0.00
48372,KUST Ledger,8472106744,www.ossila.com/,2021-08,EUR,2070.00,2070.00
44641,KUST Ledger,8472106744,None,2022-02,AED,1219986.00,0.00

In [269]:
po

,COST_CENTER_DESC,LEDGER_NAME,PO_NUMBER,VENDOR_NAME,CREATION_DATE,AMOUNT_ORDERED
4942,KUST - Office of the President,KUST Ledger,8472100209,AL GHANEM TRADING & CONTRACTING CO. - DUBAI BR...,2022-03-01,91265.96
4943,KUST - Office of the President,KUST Ledger,8472100209,AL GHANEM TRADING & CONTRACTING CO. - DUBAI BR...,2022-03-01,3201.78
4944,KUST - Office of the President,KUST Ledger,8472100209,AL GHANEM TRADING & CONTRACTING CO. - DUBAI BR...,2022-03-01,7362.58
4945,KUST - Office of the President,KUST Ledger,8472100209,AL GHANEM TRADING & CONTRACTING CO. - DUBAI BR...,2022-03-01,23409.22
4946,KUST - Office of the President,KUST Ledger,8472100209,AL GHANEM TRADING & CONTRACTING CO. - DUBAI BR...,2022-03-01,86843.00
...,...,...,...,...,...,...
56774,KU - Office of Research and Development,KUX - Ledger,8432202240,BIO MEDICAL SCIENTIFIC SERVICES LLC,2022-07-18,4929.54
56775,KU - Etisalat British Telecom Innovation Center,KUE - Ledger,8435200087,J A KEMP,2022-07-27,7006.57
56776,KUST - Petroleum Engineering,KUST Ledger,8472108138,FAJER AL MADINA GENERAL MAINTENANCE,2022-04-18,51900.00
56777,KUST - Petroleum Engineering,KUST Ledger,8472108138,FAJER AL MADINA GENERAL MAINTENANCE,2022-04-18,5220.00
56778,KUST - Petroleum Engineering,KUST Ledger,8472108138,FAJER AL MADINA GENERAL MAINTENANCE,2022-04-18,1310.00

In [84]:
po.to_excel('po_h.xlsx')

In [85]:
pr.to_excel('pr_h.xlsx')

In [86]:
ap.to_excel('ap_h.xlsx')

In [205]:
p = po.copy()

In [329]:
p.shape

(7402, 6)

#

In [331]:
p[p['AMOUNT_ORDERED'] > 5000000]

,COST_CENTER_DESC,LEDGER_NAME,PO_NUMBER,VENDOR_NAME,CREATION_DATE,AMOUNT_ORDERED
45536,KUST - Registrar,KUST Ledger,8472106717,MAGRUDY ENTERPRISES L.L.C. - ABU DHABI BRANCH,2021-05-20,5671065.22
47696,KUST - Student Life,KUST Ledger,8472107076,AL GHAZAL TRANSPORTATION COMPANY - AL GHAZAL E...,2021-08-01,5333333.00
49806,KUST - Administration,KUST Ledger,8472107119,IMDAAD L.L.C. - ABU DHABI BRANCH,2021-08-05,5861837.25
49843,KUST - Facilities Management,KUST Ledger,8472107742,IMDAAD L.L.C. - ABU DHABI BRANCH,2022-02-10,6927625.84
50082,KUST - Facilities Management,KUST Ledger,8472107755,PETRO MIDDLE EAST,2022-02-11,5700000.00

In [175]:
p_2 = p_1[p_1['CREATION_DATE'] >= '2021-01-01']

In [283]:
p3 = po.drop_duplicates(subset=['COST_CENTER_DESC','LEDGER_NAME','PO_NUMBER','VENDOR_NAME','AMOUNT_ORDERED'])

In [284]:
gg = p3.groupby(['VENDOR_NAME','PO_NUMBER','COST_CENTER_DESC','LEDGER_NAME','CREATION_DATE'])['AMOUNT_ORDERED'].sum()

In [285]:
ggf =pd.DataFrame(gg)

In [273]:
hh = ggf.sort_values(by=['VENDOR_NAME','CREATION_DATE'],ascending=[True,True])

In [274]:
hh

                                                                                                                                 AMOUNT_ORDERED
VENDOR_NAME                                     PO_NUMBER  COST_CENTER_DESC                          LEDGER_NAME  CREATION_DATE
 SHAMS SYSTEMS AND TECHNOLOGIES CO. W.L.L.      8472106878 KUST - University Sponsored Research      KUST Ledger  2021-06-24            3400.00
2MARKET INFORMATION INC                         8472108032 KUST - Technology Management & Innovation KUST Ledger  2022-04-04            6584.00
3A CRYOGENIC FZE                                8472108886 KUST - University Sponsored Research      KUST Ledger  2022-07-27           18800.00
A U M TRADING LLC                               8472107482 KUST - Human Resources                    KUST Ledger  2021-10-06           11000.00
ABU DHABI HEALTH SERVICES CO. (PSC)             8472108824 KUST - Environment, Health & Safety       KUST Ledger  2022-07-18           15000.00
...                                                                                                                                         ...
https://www.ispsupplies.com/?fragment=/products 8432201829 KU - Office of Research and Development   KUX - Ledger 2021-01-31            1048.90
https://www.ubuy.co.in/contacts                 8472106936 KUST - University Sponsored Research      KUST Ledger  2021-07-01           17633.09
samsung.com/ae                                  8472107527 KUST - University Sponsored Research      KUST Ledger  2021-10-17            4199.00
www.fusoseiki.co.jp                             8472107243 KUST - University Sponsored Research      KUST Ledger  2021-08-26             173.50
www.ossila.com/                                 8472107097 KUST - Research Laboratories              KUST Ledger  2021-08-03            2070.00

[2753 rows x 1 columns]

In [135]:
gg.duplicated(subset=['VENDOR_NAME'],keep='first')

TypeError: duplicated() got an unexpected keyword argument 'subset'

In [141]:
pd.DataFrame(gg)

                                                                                            AMOUNT_ORDERED
VENDOR_NAME                                        PO_NUMBER  LEDGER_NAME    CREATION_DATE
PASTEUR COMMERCIAL LIMITED - L.L.C                 8474200138 KUADRIC Ledger 2021-01-03           14000.00
HAVAC & POWER SOLUTIONS - F.Z.E                    8432201816 KUX - Ledger   2021-01-03           22650.00
AIR PRODUCTS GULF GAS L.L.C.                       8474200139 KUADRIC Ledger 2021-01-03            9325.00
BDH MIDDLE EAST L.L.C.                             8432201817 KUX - Ledger   2021-01-03            3768.00
BUSINESS COMMUNICATIONS CO. L.L.C. - ABU DHABI ... 8474200141 KUADRIC Ledger 2021-01-04           20808.80
...                                                                                                    ...
UTS CARRIER L.L.C.                                 8472107756 KUST Ledger    2022-02-11         2684420.00
                                                   8472107758 KUST Ledger    2022-02-11          895600.00
PETRO MIDDLE EAST                                  8472107755 KUST Ledger    2022-02-11         5700000.00
IMDAAD L.L.C. - ABU DHABI BRANCH                   8472107751 KUST Ledger    2022-02-11         1082950.00
AIR LIQUIDE EMIRATES FOR INDUSTRIAL GASES L.L.C    8472107760 KUST Ledger    2022-02-12             500.96

[1460 rows x 1 columns]

In [286]:
hh=hh.reset_index()

In [287]:
ww= hh[hh.duplicated('VENDOR_NAME',keep=False)]

In [288]:
s = ww.groupby(['VENDOR_NAME'])['AMOUNT_ORDERED'].sum()

In [289]:
final = pd.DataFrame(s).reset_index()

In [293]:
x =ww.merge(s,left_on='VENDOR_NAME',right_on='VENDOR_NAME')

In [305]:
x['AMOUNT_ORDERED_y'].replace(to_replace=,method='ffill')

0        477890.64
1        477890.64
2        477890.64
3        477890.64
4       4535621.50
           ...
2390     568000.00
2391     568000.00
2392      16010.00
2393      16010.00
2394      16010.00
Name: AMOUNT_ORDERED_y, Length: 2395, dtype: float64

In [306]:
ww

,index,VENDOR_NAME,PO_NUMBER,COST_CENTER_DESC,LEDGER_NAME,CREATION_DATE,AMOUNT_ORDERED
5,5,ABU DHABI NATIONAL HOTELS COMPANY - COMPASS MI...,8472105862,KUST - University Sponsored Research,KUST Ledger,2021-05-30,12911.16
6,6,ABU DHABI NATIONAL HOTELS COMPANY - COMPASS MI...,8472105862,KUST - Administration,KUST Ledger,2021-06-06,129863.88
7,7,ABU DHABI NATIONAL HOTELS COMPANY - COMPASS MI...,8472106847,KUST - Administration,KUST Ledger,2021-06-20,271515.60
8,8,ABU DHABI NATIONAL HOTELS COMPANY - COMPASS MI...,8432201957,KU - Office of Research and Development,KUX - Ledger,2021-10-06,63600.00
9,9,ABU HUSSAIN CONTRACTING CO. L.L.C.,8472107342,KUST - Administration,KUST Ledger,2021-09-13,99050.00
...,...,...,...,...,...,...,...
2736,2736,ZAINI MEDIA PUBLICITY & ADVERTISING L.L.C.,8472107689,KUST - Communication,KUST Ledger,2021-12-16,48000.00
2737,2737,ZAINI MEDIA PUBLICITY & ADVERTISING L.L.C.,8472108260,KUST - Communication,KUST Ledger,2022-05-11,49000.00
2740,2740,ZHENGZHOU KEJIA FURNACE CO.LTD,8472107558,KUST - University Sponsored Research,KUST Ledger,2021-11-01,9410.00
2741,2741,ZHENGZHOU KEJIA FURNACE CO.LTD,8472107793,KUST - University Sponsored Research,KUST Ledger,2022-02-18,5900.00
2742,2742,ZHENGZHOU KEJIA FURNACE CO.LTD,8472107793,KUST - University Sponsored Research,KUST Ledger,2022-02-21,700.00

In [311]:
pr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50733 entries, 0 to 50732
Data columns (total 45 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   PR_ID                      50733 non-null  float64
 1   PR_NUM                     50733 non-null  object
 2   PR_CREATION_DATE           50733 non-null  datetime64[ns]
 3   PR_APPROVED_DATE           35158 non-null  datetime64[ns]
 4   PR_DESC                    50729 non-null  object
 5   PREPARER                   50733 non-null  object
 6   REQUESTER                  50732 non-null  object
 7   PR_ASSIGNED_DATE           36958 non-null  datetime64[ns]
 8   ASSIGNED_BUYER             42165 non-null  object
 9   ITEM_CATEGORY              50733 non-null  object
 10  ITEM_CATEGORY_DESCRIPTION  50732 non-null  object
 11  ITEM_CODE                  50733 non-null  object
 12  ITEM_DESCRIPTION           1018 non-null   object
 13  PR_FINAL_APPROVER          46444 non-null  object
 14  PO_NUM                     34746 non-null  object
 15  LINE_ID                    50733 non-null  float64
 16  LINE_NUM                   50733 non-null  float64
 17  LINE_DESCRIPTION           50733 non-null  object
 18  NEED_BY_DATE               50733 non-null  datetime64[ns]
 19  ENTITY_CODE                49217 non-null  object
 20  ENTITY_DESC                49217 non-null  object
 21  COST_CENTER_CODE           49217 non-null  object
 22  COST_CENTER_DESC           49217 non-null  object
 23  BUDGET_CODE                49217 non-null  object
 24  BUDGET_DESC                49217 non-null  object
 25  ACCOUNT_CODE               49217 non-null  object
 26  ACCOUNT_DESC               49217 non-null  object
 27  ACTIVITY_CODE              49217 non-null  object
 28  ACTIVITY_DESC              49217 non-null  object
 29  FUTURE1_CODE               49217 non-null  object
 30  FUTURE1_DESC               49217 non-null  object
 31  FUTURE2_CODE               49217 non-null  object
 32  FUTURE2_DESC               49217 non-null  object
 33  GL_CODE                    49217 non-null  object
 34  GL_DESC                    49217 non-null  object
 35  DISTRIBUTION_NUM           50733 non-null  float64
 36  UNIT_PRICE                 48063 non-null  float64
 37  CURRENCY_CODE              50733 non-null  object
 38  RATE                       9510 non-null   float64
 39  PR_QUANTITY                48405 non-null  float64
 40  PR_AMOUNT                  50719 non-null  float64
 41  PR_APPROVAL_STATUS         50733 non-null  object
 42  PR_FINAL_CLOSE_STATUS      50733 non-null  object
 43  PR_ENCUMBERED_AMOUNT       46710 non-null  float64
 44  LEDGER_NAME                50733 non-null  object
dtypes: datetime64[ns](4), float64(9), object(32)
memory usage: 17.4+ MB

In [317]:
pr[pr['PR_NUM'] == '8471108080']

,PR_ID,PR_NUM,PR_CREATION_DATE,PR_APPROVED_DATE,PR_DESC,PREPARER,REQUESTER,PR_ASSIGNED_DATE,ASSIGNED_BUYER,ITEM_CATEGORY,...,DISTRIBUTION_NUM,UNIT_PRICE,CURRENCY_CODE,RATE,PR_QUANTITY,PR_AMOUNT,PR_APPROVAL_STATUS,PR_FINAL_CLOSE_STATUS,PR_ENCUMBERED_AMOUNT,LEDGER_NAME
37721,32125578.0,8471108080,2021-04-21 09:41:28,NaT,SUPPLY AND INSTALLTION OF SPECIALTY GAS CABINE...,Vengadessane Duraikannu,Vengadessane Duraikannu,NaT,Kalappura Asif,8888.8802,...,1.0,NaN,AED,NaN,NaN,6500000.0,RETURNED,OPEN,0.0,KUST Ledger

In [320]:
po[po['PO_NUMBER'] =='8472106749']

,PO_NUMBER,AUTHORIZATION_STATUS,PO_TYPE,ITEM_CATEGORY,ITEM_CATEGORY_DESCRIPTION,ITEM_CODE,ITEM_DESCRIPTION,GL_ENCUMBERED_DATE,CREATION_DATE,ENCUMBERED_AMOUNT,...,VENDOR_SITE,CURRENCY_CODE,AMOUNT_ORDERED,QUANTITY_DELIVERED,AMOUNT_DELIVERED,QUANTITY_BILLED,AMOUNT_BILLED,QUANTITY_CANCELLED,AMOUNT_CANCELLED,VENDOR_COUNTRY
45784,8472106749,APPROVED,STANDARD,0055.0003,General Equipments.Consumable Material,-,None,2021-05-27 11:09:42,2021-05-27,3122.05,...,U.S.A.,USD,850.00,1.0,850.00,1.0,850.00,0.0,0.0,United States
45785,8472106749,APPROVED,STANDARD,0055.0003,General Equipments.Consumable Material,-,None,2021-05-27 11:09:42,2021-05-27,109.27,...,U.S.A.,USD,29.75,1.0,29.75,1.0,29.75,0.0,0.0,United States
45786,8472106749,APPROVED,STANDARD,0055.0003,General Equipments.Consumable Material,-,None,2021-05-27 11:09:42,2021-05-27,231.40,...,U.S.A.,USD,63.00,1.0,63.00,1.0,63.00,0.0,0.0,United States
45787,8472106749,APPROVED,STANDARD,0055.0003,General Equipments.Consumable Material,-,None,2021-05-27 11:09:42,2021-05-27,146.55,...,U.S.A.,USD,39.90,2.0,39.90,2.0,39.90,0.0,0.0,United States
45788,8472106749,APPROVED,STANDARD,0055.0003,General Equipments.Consumable Material,-,None,2021-05-27 11:09:42,2021-05-27,174.47,...,U.S.A.,USD,47.50,2.0,47.50,2.0,47.50,0.0,0.0,United States
45789,8472106749,APPROVED,STANDARD,0055.0003,General Equipments.Consumable Material,-,None,2021-05-27 11:09:42,2021-05-27,109.82,...,U.S.A.,USD,29.90,2.0,29.90,2.0,29.90,0.0,0.0,United States
45790,8472106749,APPROVED,STANDARD,0055.0003,General Equipments.Consumable Material,-,None,2021-05-27 11:09:42,2021-05-27,156.10,...,U.S.A.,USD,42.50,5.0,42.50,5.0,42.50,0.0,0.0,United States
45791,8472106749,APPROVED,STANDARD,0055.0003,General Equipments.Consumable Material,-,None,2021-05-27 11:09:42,2021-05-27,156.10,...,U.S.A.,USD,42.50,5.0,42.50,5.0,42.50,0.0,0.0,United States
45792,8472106749,APPROVED,STANDARD,0055.0003,General Equipments.Consumable Material,-,None,2021-05-27 11:09:42,2021-05-27,53.26,...,U.S.A.,USD,14.50,1.0,14.50,1.0,14.50,0.0,0.0,United States
45793,8472106749,APPROVED,STANDARD,0055.0003,General Equipments.Consumable Material,-,None,2021-05-27 11:09:42,2021-05-27,101.01,...,U.S.A.,USD,27.50,50.0,27.50,50.0,27.50,0.0,0.0,United States
45794,8472106749,APPROVED,STANDARD,0055.0003,General Equipments.Consumable Material,-,None,2021-05-27 11:09:42,2021-05-27,60.60,...,U.S.A.,USD,16.50,50.0,16.50,50.0,16.50,0.0,0.0,United States
45795,8472106749,APPROVED,STANDARD,0055.0003,General Equipments.Consumable Material,-,None,2021-05-27 11:09:42,2021-05-27,55.10,...,U.S.A.,USD,15.00,5.0,15.00,5.0,15.00,0.0,0.0,United States
45796,8472106749,APPROVED,STANDARD,0055.0003,General Equipments.Consumable Material,-,None,2021-05-27 11:09:42,2021-05-27,159.78,...,U.S.A.,USD,43.50,3.0,43.50,3.0,43.50,0.0,0.0,United States
45797,8472106749,APPROVED,STANDARD,0055.0003,General Equipments.Consumable Material,-,None,2021-05-27 11:09:42,2021-05-27,213.03,...,U.S.A.,USD,58.00,1.0,58.00,1.0,58.00,0.0,0.0,United States
45798,8472106749,APPROVED,STANDARD,0055.0003,General Equipments.Consumable Material,-,None,2021-05-27 11:09:42,2021-05-27,247.01,...,U.S.A.,USD,67.25,1.0,67.25,1.0,67.25,0.0,0.0,United States
45799,8472106749,APPROVED,STANDARD,0055.0003,General Equipments.Consumable Material,-,None,2021-05-27 11:09:42,2021-05-27,73.46,...,U.S.A.,USD,20.00,2.0,20.00,2.0,20.00,0.0,0.0,United States
45800,8472106749,APPROVED,STANDARD,0055.0003,General Equipments.Consumable Material,-,None,2021-05-27 11:09:42,2021-05-27,486.67,...,U.S.A.,USD,132.50,1.0,132.50,1.0,132.50,0.0,0.0,United States

In [324]:
po.to_excel('tendering.xlsx')

In [335]:
po[po['AMOUNT_ORDERED'] > 5000000].to_excel('fiveM.xlsx')