In [2]:
import pandas as pd
import numpy as np
import pyodbc
import seaborn as sns
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
import datetime as dt

In [3]:
svr_name = 'KU1ICDDWV011.kunet.ae'
db_name_read = 'CACM'
db_name_write = 'CACMP'
u_name = 'cacm_user'
u_pass = 'Welcome#123'

In [4]:
eng_read = create_engine("mssql+pyodbc://"+u_name+":"+u_pass+"@"+svr_name+"/"+db_name_read+"?driver=ODBC+Driver+17+for+SQL+Server")
eng_write = create_engine("mssql+pyodbc://"+u_name+":"+u_pass+"@"+svr_name+"/"+db_name_write+"?driver=ODBC+Driver+17+for+SQL+Server")

In [5]:
query_pr = "select * from dbo.KU_SRC_BI_KUST_PR"
query_po = "select * from dbo.KU_SRC_BI_KUST_PO"
query_ap = "select * from dbo.KU_SRC_BI_KUST_ap"

In [6]:
pr = pd.read_sql(query_pr, eng_read)
po = pd.read_sql(query_po, eng_read)
ap = pd.read_sql(query_ap, eng_read)

In [6]:
#po.reset_index().to_sql('po',eng_write,if_exists='replace')

In [7]:
ap['VENDOR_NAME'] = ap['VENDOR_NAME'].str.lower()

In [8]:
ap = ap[ap['CREATION_DATE'] >= '2021-01-01']

In [9]:
ap[ap['VENDOR_NAME'].str.contains('center')].to_excel('center.xlsx')

In [12]:
ap.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 128038 entries, 287 to 529263
Data columns (total 47 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   LEDGER_NAME                 128038 non-null  object
 1   VENDOR_NO                   128038 non-null  object
 2   VENDOR_NAME                 128038 non-null  object
 3   INVOICE_NUM                 128038 non-null  object
 4   VOUCHER_NUM                 128036 non-null  object
 5   INVOICE_APPROVAL_STATUS     128038 non-null  object
 6   INVOICE_TYPE                128038 non-null  object
 7   INVOICE_DESCRIPTION         86668 non-null   object
 8   CREATION_DATE               128038 non-null  datetime64[ns]
 9   LINE_NUMBER                 128038 non-null  float64
 10  INVOICE_DISTRIBUTION_ID     128038 non-null  float64
 11  EXCHANGE_RATE               21549 non-null   float64
 12  INVOICE_DATE                128038 non-null  datetime64[ns]
 13  GL_DATE                     128038 non-null  datetime64[ns]
 14  INVOICE_CURRENCY_CODE       128038 non-null  object
 15  ENTITY_CODE                 128038 non-null  object
 16  ENTITY_DESCRIPTION          128038 non-null  object
 17  COST_CENTER_CODE            128038 non-null  object
 18  BUDGET_CODE                 128038 non-null  object
 19  ACCOUNT_CODE                128038 non-null  object
 20  ACTIVITY_CODE               128038 non-null  object
 21  FUTURE1_CODE                128038 non-null  object
 22  FUTURE2_CODE                128038 non-null  object
 23  PO_NUMBER                   50066 non-null   object
 24  INVOICE_DIST_AMOUNT         128038 non-null  float64
 25  INVOICE_DIST_BASE_AMOUNT    95369 non-null   float64
 26  TERMS_DATE                  128038 non-null  datetime64[ns]
 27  PAY_GROUP_LOOKUP_CODE       128038 non-null  object
 28  PAYMENT_METHOD_CODE         128038 non-null  object
 29  PAYMENT_TERM                128038 non-null  object
 30  TAX_AMOUNT                  0 non-null       object
 31  RECEIPT_NUMBER              54924 non-null   object
 32  INVOICE_SUBMISSION_DATE     112217 non-null  datetime64[ns]
 33  INVOICE_APPROVED_DATE       111060 non-null  datetime64[ns]
 34  PAYMENT_DATE                114688 non-null  object
 35  RECEIPT_DATE                54924 non-null   datetime64[ns]
 36  INVOICE_RECEIVED_DATE       128038 non-null  object
 37  WFAPPROVAL_STATUS           128038 non-null  object
 38  ACCOUNTED                   128038 non-null  object
 39  LINE_TYPE                   128038 non-null  object
 40  TAX_RATE_NAME               79114 non-null   object
 41  TAX_RATE                    79114 non-null   float64
 42  RECOVERABLE_TAX_AMOUNT      79114 non-null   float64
 43  NON_RECOVERABLE_TAX_AMOUNT  79114 non-null   float64
 44  PAYMENT_STATUS_FLAG         128038 non-null  object
 45  ENCUMBERED_FLAG             128038 non-null  object
 46  DUE_DATE                    128038 non-null  datetime64[ns]
dtypes: datetime64[ns](8), float64(8), object(31)
memory usage: 46.9+ MB

In [7]:
data = pd.read_excel('Copy of Book23.xlsx')

In [8]:
data

,PO Number,PO Description,Vendor,Ledger,Payment made against this PO
0,8432201859,0,BIO-LOGIC SAS,KUX - External Khalifa University O.U,NaN
1,8432201885,Magnipurix Blood DNA Extraction kit,MILAB SCIENTIFIC & LABORATORY EQUIPMENT TRADIN...,KUX - External Khalifa University O.U,NaN
2,8432201917,Etched Silicon probes _ PR no. 8432102394,NAIZAK FZ LLC,KUX - External Khalifa University O.U,NaN
3,8432201970,Sales Quotation QO-01-000002054-2 : V50 CIV SO...,CONCORDE TRADING CO. L.L.C.,KUX - External Khalifa University O.U,NaN
4,8432201973,REF NO ADA 26.08.21 / 019 : Supply of Watergen,AL DAHRA AGRICULTURE SOLE PROPRIETORSHIP LLC,KUX - External Khalifa University O.U,NaN
...,...,...,...,...,...
63,8474200150,Annual maintenance Offer for Haake Injection M...,BUSINESS COMMUNICATIONS CO. L.L.C. - ABU DHABI...,KUADRIC OU,NaN
64,8474200151,AMC for Carbolite tube Furness,BUSINESS COMMUNICATIONS CO. L.L.C. - ABU DHABI...,KUADRIC OU,NaN
65,8474200156,core holders and spare parts for the CT Core f...,RS - SYSTEMS AS,KUADRIC OU,NaN
66,8474200185,0,WAVES COMPUTER SUPPLIES,KUADRIC OU,NaN
67,8474200194,Disposal of ADRIC hazardous chemicals to facil...,OASIS ENVIRONMENTAL SOLUTIONS,KUADRIC OU,NaN