In [1]:
import pandas as pd
import numpy as np
import pyodbc
import seaborn as sns
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

In [2]:
svr_name = 'KU1ICDDWV011.kunet.ae'
db_name_read = 'CACM'
db_name_write = 'CACMP'
u_name = 'cacm_user'
u_pass = 'Welcome#123'

In [3]:
eng_read = create_engine("mssql+pyodbc://"+u_name+":"+u_pass+"@"+svr_name+"/"+db_name_read+"?driver=ODBC+Driver+17+for+SQL+Server")
eng_write = create_engine("mssql+pyodbc://"+u_name+":"+u_pass+"@"+svr_name+"/"+db_name_write+"?driver=ODBC+Driver+17+for+SQL+Server")

**Extract Employee Master Information**

In [4]:
query_emp_details = "SELECT * FROM dbo.KU_EmployeeDetails_VIEW"

In [5]:
df_employee_master = pd.read_sql(query_emp_details, eng_read)

In [6]:
df_employee_master.to_excel("./data/df_employee_master_P.xlsx")

**Extract Employee Bank Details**

In [8]:
query_emp_emp_bank_details = "SELECT * FROM dbo.KU_EmployeesBankDetails_View"

In [9]:
df_employee_bank_details = pd.read_sql(query_emp_emp_bank_details, eng_read)

In [10]:
df_employee_bank_details.to_excel("./data/df_employee_bank_details_P.xlsx")