# Khalifa University - CACM

### Table of Contents

- *Student Master Data* 
- *Human Resources Master Data*
- *Finance Master Data*

### Master Data Naming Convention

The scripts and pandas dataframe across the jupyter notebook follows the following naming convention:

<div class="alert alert-block alert-warning">
<b>Example:</b> df_[type of database]_[master] </div>

where df is the dataframe
type of database is students, finance, human resources
master refers to master data

### Exceptions Naming Convention

Additionally, all exceptions are named using the following naming convention:

<div class="alert alert-block alert-warning">
<b>Example:</b> df_[type of database]_[master]_[exception] </div>

where df is the dataframe
type of database is students, finance, human resources
master refers to master data
exception refers to type of exception, for e.g., duplicate students, employee details, invoices, payments etc.

# Import Data from SQL Server

### Key Libraries

**Pymssql** is a sql connector package that enables to extract all information in the server directly into pandas dataframe as an input.

Using pymssql extract all information from different sql queries and can be utilized for analysis / creating the mongoDB. 

The below scripts in other sections can utilize the pandas dataframe directly for running the analysis instead of connecting to excel files.

**Pandas** - Pandas is a fast, powerful, flexible and easy to use open source library which enables the user to perform data manipulation from any source (SQL, Excel, JSON, etc.)

**Numpy** - Numpy is a versatile tool in python for data analysis which enables to user to perform analysis around n-dimensional arrays, numerical computing tools and object oriented programming for ensuring readability / scalability of the code.

**Time** - Time is a library to import and stamp the current data / time of analysis and store for future information incase of tracking previous iteration of exceptions.

Additionally, the naming convention within python can assist in utilizing these libraries as abbreviations.

<div class="alert alert-block alert-warning">
<b>Example:</b> **import pandas as pd** enables the user to use "pd" within the python code to the use pandas library</div>

In [ ]:
import pandas as pd
import numpy as np
import pyodbc
import seaborn as sns
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

In [ ]:
svr_name = 'KU1ICDDWV011.kunet.ae'
db_name_read = 'CACM'
db_name_write = 'CACMP'
u_name = 'cacm_user'
u_pass = 'Welcome#123'

In [ ]:
eng_read = create_engine("mssql+pyodbc://"+u_name+":"+u_pass+"@"+svr_name+"/"+db_name_read+"?driver=ODBC+Driver+17+for+SQL+Server")
eng_write = create_engine("mssql+pyodbc://"+u_name+":"+u_pass+"@"+svr_name+"/"+db_name_write+"?driver=ODBC+Driver+17+for+SQL+Server")

To extract the relevant information from the SQL server, below the following example:

<div class="alert alert-block alert-warning">
<b>Example:</b> Query = SELECT * FROM [Database] WHERE [Condition] </div>

where Database is the name of the database;
and conditions can be added as required such as WHERE, GroupBy, Join etc.

**Extract Student Master Information**

Based on the requirement, we can use pymssql or pyodbc. For each instance the sample code is given below:

In [ ]:
query_std_master = "SELECT * FROM dbo.KU_SRC_STD_MASTER"

In [ ]:
df_student_master = pd.read_sql(query_std_master, eng_read)

In [ ]:
df_student_master.to_excel("./data/df_student_master_new_1.xlsx")

**Extract Student Course Schedule**

In [ ]:
query_crs_sced = "SELECT * FROM dbo.KU_SRC_STD_CRS_SCHEDULE"

In [ ]:
df_student_courses = pd.read_sql(query_crs_sced, eng_read)

In [ ]:
df_student_courses.to_excel("./data/df_student_courses_new_1.xlsx")

**Extract Student Attednance**

In [ ]:
query_std_attend = "SELECT * FROM dbo.KU_SRC_STD_ATTENDANCE"

In [ ]:
df_student_attendance = pd.read_sql(query_std_attend, eng_read)

In [ ]:
df_student_attendance.to_excel("./data/df_student_attendance_new.xlsx")

**Extract Employee Master Information**

In [ ]:
query_emp_details = "SELECT * FROM dbo.KU_SRC_EmployeeDetails"

In [ ]:
df_employee_master = pd.read_sql(query_emp_details, eng_read)

In [ ]:
df_employee_master.to_excel("./data/df_employee_master.xlsx")

**Extract Employee Bank Details**

In [ ]:
query_emp_emp_bank_details = "SELECT * FROM dbo.KU_SRC_EmployeesBankDetails"

In [ ]:
df_employee_bank_details = pd.read_sql(query_emp_emp_bank_details, eng_read)

In [ ]:
df_employee_bank_details.to_excel("./data/df_employee_bank_details.xlsx")

**Extract Employee Leaves**

In [ ]:
query_emp_leaves = "SELECT * FROM dbo.KU_SRC_EmployeesLeaves"

In [ ]:
df_employee_leaves = pd.read_sql(query_emp_leaves, eng_read)

In [ ]:
df_employee_leaves.to_excel("./data/df_employee_leaves.xlsx")

**Extract AP Invoices**

In [ ]:
query_ap_invoices = "SELECT * FROM dbo.KU_SRC_BI_KUST_AP"

In [ ]:
df_AP_invoices = pd.read_sql(query_ap_invoices, eng_read)

In [ ]:
df_AP_invoices.to_excel("./data/df_AP_invoices_1.xlsx")

**Extract Purchase Order Master**

In [ ]:
query_pos = "SELECT * FROM KU_SRC_BI_KUST_PO"

In [ ]:
df_POs = pd.read_sql(query_pos, eng_read)

In [ ]:
df_POs.to_excel("./data/df_POs_1.xlsx",)

In [ ]:
df_POs.shape

**Extract Purchase Requisitions Information**

In [ ]:
query_prs = "SELECT * FROM dbo.KU_SRC_PRs"

In [ ]:
df_PRs = pd.read_sql(query_prs, eng_read)

In [ ]:
df_PRs.to_excel("./data/df_PRs.xlsx")

**Extract IT Tickets**

In [ ]:
query_it_tickets = "SELECT * FROM dbo.KU_SRC_IT_Tickets"

In [ ]:
df_it_tickets = pd.read_sql(query_it_tickets, eng_read)

In [ ]:
df_it_tickets.to_excel("./data/df_it_tickets.xlsx")

**Extract Supplier Information**

In [ ]:
query_supplier_master = "SELECT * FROM dbo.KU_SRC_Suppliers"

In [ ]:
df_supplier_master = pd.read_sql(query_supplier_master, eng_read)

In [ ]:
df_supplier_master.to_excel("./data/df_supplier_master.xlsx")

## Write into SQL Server

For writing files / exceptions into SQL Server, the following code can be utilized:

<div class="alert alert-block alert-warning">
<b>Example:</b> Code = [dataframe].to_sql("[Name of table / database]", conn) </div>

where dataframe is the name of the pandas dataframe
to_sql writes into the SQL server
Name of table / database is the name of the database in the SQL server
conn is the connection established to the SQL server

# Scripts for Student, Procurement and Finance Master Data

# 1. Student Master Data

Pandas dataframe library within python enables to import information from any database including SQL, Excel, Text, JSON, etc. To utilize Pandas Dataframe, it is important to designate the type of read access.

For importing from excel database the following naming convention is used:

<div class="alert alert-block alert-warning">
<b>Example:</b> df_[type of database]_[master] = pd.read_excel("[Name of file].xlsx") </div>

In [ ]:
df_student_master.head(5)

## 1.1 Duplicate Student Records (Frequency: semi-annual - based on admission cycle)

### 1.1 Overall Duplicates

The below set of scripts enable the user to identify the duplicates in student master data based on **student ID, student names, emirates ID, passport details and length of emirates ID**.

Additionally, the script can further be modified to track active and inactive students to identify the admission of academically dismissed students to further test the re-admission of such students as per KU policies and procedures.

In [ ]:
df_student_master_duplicate = df_student_master[df_student_master.duplicated()]

In [ ]:
df_student_master_duplicate

### 1.1.2 Student ID Duplicates

Student ID line items are stored in the database as column name **"ID"**. Therefore, to identify the duplicates, the script is enabled on column name "ID".

In [ ]:
df_student_master_duplicate = df_student_master[df_student_master.duplicated(['ID'])]

In [ ]:
df_student_master_duplicate

### 1.1.3 Student Names Duplicates

Student Names line items are stored in the database as column name **"FULL_NAME"**. Therefore, to identify the duplicates, the script is enabled on column name "FULL_NAME".

In [ ]:
df_student_master_duplicate = df_student_master[df_student_master.duplicated(['FULL_NAME'])]

In [ ]:
df_student_master_duplicate

In [ ]:
df_comparison = pd.merge(df_student_master, df_student_master_duplicate, on='FULL_NAME', how='inner')
df_comparison.head(5)

In [ ]:
df_student_master_duplicate.to_sql("Dup_Student_Records", eng_write)

### 1.1.4 Emirates ID Duplicate

Student Emirates ID line items are stored in the database as column name **"EMIRATES_ID"**. Therefore, to identify the duplicates, the script is enabled on column name "EMIRATES_ID".

In [ ]:
df_student_master_duplicate = df_student_master[df_student_master.duplicated(['EMIRATES_ID'])]

In [ ]:
df_student_master_duplicate

In [ ]:
df_comparison = pd.merge(df_student_master, df_student_master_duplicate, on='EMIRATES_ID', how='inner')
df_comparison.head(5)

In [ ]:
# df_student_master_duplicate.to_sql("Dup_Student_Records_EmiratesID", eng_write)

### 1.1.5 Emirates ID

Emirates ID across the UAE contain exactly 15 digits, any deviation to the length of Emirates ID is an invalid detail. To identify such discrepancies, we utilize the **str.len() function** of python which counts the number of characters of each cell in the column.

Further, we filter the results for more than and less than **15 digits to identify discrepancies**.

We noted many student details did not contain Emirates ID details and such students are discarded as part of the test since all those students are inactive.

In [ ]:
df_student_master['Length'] = df_student_master['EMIRATES_ID'].str.len()

In [ ]:
df_student_master_EID = df_student_master[(df_student_master['Length'] < 15) | (df_student_master['Length'] > 15)]

In [ ]:
df_student_master_EID

In [ ]:
df_student_master_EID.to_sql("Dup_Student_Records_EID_Length", eng_write)

### 1.1.6 Passport

Student Passport Details line items are stored in the database as column name **"PASSPORT_ID"**. Therefore, to identify the duplicates, the script is enabled on column name "PASSPORT_ID".

Additionally, we can also filter results for all active students for whom the passport details are not entered in the system. This test is necessary for international / students of other nationalities.

In [ ]:
df_student_master_Passport = df_student_master[(df_student_master['STUDENT_STATUS'] == 'Active') & (df_student_master['PASSPORT_ID'] == "NULL")]

In [ ]:
df_student_master_Passport

We can also test for the length in digits for passport details, however the details may or may not be accurate as the number of digits for passport differs across countries / nations.

In [ ]:
df_student_master['Passport_Length'] = df_student_master['PASSPORT_ID'].str.len()

In [ ]:
df_student_master['Passport_Length']

In [ ]:
df_student_master_Passport = df_student_master[(df_student_master['STUDENT_STATUS'] == 'Active') & (df_student_master['Passport_Length'] < 7)]

In [ ]:
df_student_master_Passport

In [ ]:
df_student_master_Passport.to_sql("Dup_Student_Records_Passport", eng_write)

## 1.2 Re-admission of previous students (Frequency: semi-annual - based on admission cycle)

Students at Khalifa University may be re-admitted based on appopriate approvals from Academic Management. To analyze the re-admitted students, we can identify the students admitted based on same Emirates ID versus the previous inactive accounts.

This will require to analyze the output report to identify such instances as one column does not notify of re-admission.

In [ ]:
df_student_master.head(5)

In [ ]:
df_student_master_Readmission = df_student_master[(df_student_master['STUDENT_STATUS'] == 'Inactive') & (df_student_master.duplicated(['PASSPORT_ID']))]

In [ ]:
df_student_master_Readmission

In [ ]:
df_student_master_Readmission.to_sql("Readmitted_students", eng_write)

## 1.3 Missing Student Information (Frequency: any frequency - weekly, monthly or quarterly to ensure adequate student information is available)

All active students should have complete information as per the registrar records and protocol within the master data. The below script analyzes the missing information to ensure completeness of the data.

It is essential to ensure adequate information is available for all students as per SAI requirements which may affect funding received by KU.

To review the missing information, the library for isnull() is utilized which identifies the missing elements across all columns using the axis (column) technique.

In [ ]:
df_student_master.head(5)

In [ ]:
df_student_missing = df_student_master[df_student_master.isnull().any(axis=1)]
df_student_missing.head(5)

In [ ]:
df_student_missing_final = df_student_missing[(df_student_missing['STUDENT_STATUS'] == 'Active')]

In [ ]:
df_student_missing_final.head(5)

## 1.4 Admission requirements (Frequency: semi-annual - based on admission of students)

Khalifa University admits students based on type of school curriculum (british, american, national, etc.). Additionally, each school curriculum has different admission requirements that the student must fulfill. 

However, the IT system does not store the type of school curriculum and only the name of the student. Based on the above information, the code below analyzes the minimum requirements of admission across KU and verifies the student admission based on the same.

For any deviations, appropriate approvals would be required from the Dean of the University/Department and necessary Senior Management/Government which are required to be verified on case to case basis.

In [ ]:
##verify high school average

df_student_admissioncriteria_HS = df_student_master[(df_student_master['STUDENT_STATUS']=='Active') & (df_student_master['SCHOOL_AVG']<70)]

In [ ]:
##verify english scores

df_student_admissioncriteria_EN = df_student_master[(df_student_master['STUDENT_STATUS']=='Active') & (df_student_master['IELTS_OVERALL']<5) | (df_student_master['TOFL_ENGLISH']<90) | (df_student_master['EMEN']<800)]

In [ ]:
df_student_admissioncriteria_HS.to_sql("HS_Scores", eng_write)

In [ ]:
df_student_admissioncriteria_EN.to_sql("EN_Scores", eng_write)

# 2. Student Attendance (Frequency: semi-annual - based on end of semester due to the configuration of the IT systems)

## 2.1 Student Attendance as per Policy

Student Attendance in Khalifa University as per the policies and procedures, follow two different protocols:

- 80% and above for undergraduates
- 50% and above for graduates

For the same, we analyze the student attendance master data in the following manner:

- Identify the Total Classes in the semester
- Calculate the %age of absences using the new Total Classes figure and number of absences
- Identify discrepancies of more than 20% and registration status as "RE" (RE refers to still registered)

<div class="alert alert-block alert-warning">
<b>Example:</b>((Total Classes)/(Total Absences))*100; Highlight all exceptions</div>

In [ ]:
##import master data for excel

## df_student_attendance = pd.read_excel("C:/Users/prabhjotsingh3/OneDrive - KPMG/Documents/2021 Projects/Khalifa University/Project/Data/Student Attendance Data.xlsx")

In [ ]:
df_student_attendance.head()

In [ ]:
df_student_attendance['Total Classes'] = df_student_attendance["TOTAL_ABSENCES"]+df_student_attendance["TOTAL_ATTENDED"]

In [ ]:
df_student_attendance['Absence Percentage'] = (df_student_attendance['TOTAL_ABSENCES']/df_student_attendance['Total Classes'])*100

In [ ]:
df_student_attendance_exception = df_student_attendance[(df_student_attendance['Absence Percentage']>20) & (df_student_attendance['REG_STATUS']=="RE")]

In [ ]:
df_student_attendance_exception

In [ ]:
## write into excel; if required

## df_student_attendance_exception.to_excel("C:/Users/prabhjotsingh3/OneDrive - KPMG/Documents/2021 Projects/Khalifa University/Project/Analysis/Attendance Exception.xlsx")

In [ ]:
df_student_attendance_exception.to_sql("Student_Attendance", eng_write)

# 3. Student Courses (Frequency: as per requirement - can be based on admission/registration cycle and the cool-off period for changing courses for students)

The below mentioned data source is imported to analyze the student courses within Khalifa University

In [ ]:
## import master data for excel

## df_student_courses = pd.read_excel("C:/Users/prabhjotsingh3/OneDrive - KPMG/Documents/2021 Projects/Khalifa University/Project/Data/Student Course Data.xlsx")

In [ ]:
df_student_courses

## 3.1 Student Max Enrollment

Each course in Khalifa University has a maximum alloted number of students based on classroom size and in compliance with CAA standards to maintain student to faculty ratio.

As per the below analysis, we identified the maximum number of students as per a course (MAX_ENROLLMENT_ALLOWED_CRN) versus the number of students registered (NBR_REGISTERED_CRN) for the semester.

All exceptions are noted and identified

<div class="alert alert-block alert-warning">
<b>Example:</b>(Maximum number of students enrolled in a CRN) - (Number of students registered in a CRN); Highlight all exceptions</div>

In [ ]:
df_student_courses['Above Max Enrollment'] = df_student_courses['MAX_ENROLLMENT_ALLOWED_CRN'] - df_student_courses['NBR_REGISTERED_STUDENTS_CRN']

In [ ]:
df_student_courses_max = df_student_courses[df_student_courses['Above Max Enrollment'] <0]

In [ ]:
df_student_courses_max

In [ ]:
## write into excel; if required

## df_student_courses_max.to_excel('C:/Users/prabhjotsingh3/OneDrive - KPMG/Documents/2021 Projects/Khalifa University/Project/Analysis/Above Max Enrollment.xlsx')

In [ ]:
df_student_courses_max.to_sql("Above_Max_Courses", eng_write)

## 3.2 Scheduling of Courses

The below code analyzes the student courses schedule the same instructor / instructors during the same slot on multiple different days / periods. However, on analysis the output below showcases due to the multiple instructors assigned for each individual course, the exceptions are not valid.

As a recommendation, the output should be analyzed prior to reporting instances.

In [ ]:
df_student_courses_exception = df_student_courses[(df_student_courses.duplicated(['INSTRUCTOR_NAME','SCHEDULE_START_TIME','SCHEDULE_END_TIME','SUN']) | 
                                                                    df_student_courses.duplicated(['INSTRUCTOR_NAME','SCHEDULE_START_TIME','SCHEDULE_END_TIME','MON']) |
                                                                    df_student_courses.duplicated(['INSTRUCTOR_NAME','SCHEDULE_START_TIME','SCHEDULE_END_TIME','TUE']) |
                                                                    df_student_courses.duplicated(['INSTRUCTOR_NAME','SCHEDULE_START_TIME','SCHEDULE_END_TIME','WED']) |
                                                                    df_student_courses.duplicated(['INSTRUCTOR_NAME','SCHEDULE_START_TIME','SCHEDULE_END_TIME','THU']))
                                                                    & df_student_courses['SUN'].notna()]

In [ ]:
df_student_courses_exception

In [ ]:
## write into excel; if required

## df_student_courses_schedule_exception.to_excel("C:/Users/prabhjotsingh3/OneDrive - KPMG/Documents/2021 Projects/Khalifa University/Project/Analysis/Student Courses.xlsx")

In [ ]:
df_student_courses_exception.to_sql("Duplicate_Course_Schedule", eng_write)

# 4. Human Resources (Frequency: as per requirement - weekly, monthy or annually)

The below code analyzes the duplicate employee accounts, emirates ID, employee leaves, bank details and missing information for employees. For each analysis the scripts generate different outputs stored as multiple links. Below are the in-built logic drivers:

1. Employee accounts - duplicates identified based on employee number and person ID
2. Employee leaves - identify all types of leaves availed for more than 60 day period. The output should be analyzed for consistency as maternity leave can vary
3. Bank details - duplicate bank details / incorrect bank details for employees are highlighted
4. Missing information - key missing information across the HR data is highlighted such as emirates id, contract date etc. for active employees as per the data source
5. Contract date - to analyze if any active employees are working in Khalifa University without valid contracts

In [ ]:
## import master data for excel

## df_employee_master = pd.read_excel("C:/Users/prabhjotsingh3/OneDrive - KPMG/Documents/2021 Projects/Khalifa University/Project/Data/HR Master Data.xlsx")

In [ ]:
df_employee_master

## 4.1 Duplicate Emirates ID

In [ ]:
df_employee_EmiratesID = df_employee_master[df_employee_master.duplicated(['EmiratesID'])]

In [ ]:
df_employee_EmiratesID

In [ ]:
## write into excel; if required 

## df_employee_EmiratesID.to_excel("C:/Users/prabhjotsingh3/OneDrive - KPMG/Documents/2021 Projects/Khalifa University/Project/Analysis/Duplicate Employeese Emirates ID.xlsx")

In [ ]:
df_employee_master['Length'] = df_employee_master['EmiratesID'].str.len()

In [ ]:
df_employee_EID = df_employee_master[(df_employee_master['Length'] < 15) | (df_employee_master['Length'] > 15)]

In [ ]:
df_employee_EID

In [ ]:
df_comparison = pd.merge(df_employee_master, df_employee_EID, on='EmiratesID', how='inner')
df_comparison.head(5)

In [ ]:
## write into excel; if required

## df_employee_EID.to_excel("C:/Users/prabhjotsingh3/OneDrive - KPMG/Documents/2021 Projects/Khalifa University/Project/Analysis/Invalid Emirates ID.xlsx")

## 4.2 Employee ID

Employee ID are verified to ensure no two employees are under the same employee ID.

For the same, pandas library is utilized to automatically find the duplicated entries within the master data on "Emp No" (Employee ID) and "PersonID" (Old Employee ID).

In [ ]:
df_employee_employeeID = df_employee_master[df_employee_master.duplicated(['EmpNo'])]

In [ ]:
df_employee_employeeID

In [ ]:
df_employee_personID = df_employee_master[df_employee_master.duplicated(['PersonID'])]

In [ ]:
df_employee_personID

## 4.3 Contract Date

The below scripts analyzes the continuance of emplyoee beyond the contract period and incase any employees are active in the system beyond the contracted period.

Employee master contains two columnn namely "Contract End" (end date of contract) and "HireDate" (date of joining / continuance). By analyzing the difference between the columns, all employees beyond contracted period can be analyzed.

In [ ]:
df_employee_master['Diff'] = df_employee_master['Contract_End'] - df_employee_master['HireDate']

In [ ]:
df_employee_master['Diff']

In [ ]:
df_employee_contract = df_employee_master[(df_employee_master['Diff'] < '365')]

In [ ]:
df_employee_contract

## 4.4 Employee Leaves

Employee Leaves are granted on an annual basis to each employee. Below are the exceptions that can be identified for employee who have availed a leave for beyond 60 day period for any leave type, i.e., Annual Leave, Unpaid Leave etc.

In [ ]:
#df_employee_leave = pd.read_excel("C:/Users/ku1016/Downloads/Employee Leave Data.xlsx")
df_employee_leaves.head(5)

In [ ]:
df_employee_leaves['Diff'] = df_employee_leaves['LeaveEndDate'] - df_employee_leaves['LeaveStartDate']
df_employee_leaves.head(5)

In [ ]:
df_employee_leave_exception = df_employee_leaves[(df_employee_leaves['Diff'] > '60 days')]
df_employee_leave_exception

In [ ]:
df_employee_leave_exception.to_sql("Employee_Leaves_Exception", eng_write)

## 4.5 Missing Employee Information

All active employees should have complete information as per the HR records and protocol within the master data. The below script analyzes the missing information to ensure completeness of the data.

To identify the missing values, the pandas libraries for isnull() is utilized and specifies any axis (column) to target all missing values in any column.

In [ ]:
## df_employee_master = pd.read_excel("C:/Users/ku1016/Downloads/HR Employee Data.xlsx")
## df_employee_master.head(5)

In [ ]:
df_employee_master.isnull()

In [ ]:
df_employee_missing = df_employee_master[df_employee_master.isnull().any(axis=1)]
df_employee_missing.head(5)

In [ ]:
df_employee_missing.to_sql("Missing_employee_info",eng_write)

## 4.6 Employee bank details and account number

For any bank details, no two employees can share the same bank details and the length of IBAN should remain constant number of digits as per the international IBAN standards (23 digits). 

Below are the scripts to analyze both scenarios.

In [ ]:
## df_employee_bank_details = pd.read_excel("C:/users/ku1016/downloads/Employee Bank Details.xlsx")

In [ ]:
## df_employee_bank_details.head(5)

In [ ]:
df_employee_bank_details_duplicated = df_employee_bank_details[df_employee_bank_details.duplicated(['IBAN'])]

In [ ]:
df_employee_bank_details_duplicated.to_sql("Duplicatee_employee_bank", eng_write)

In [ ]:
df_employee_bank_details['Length of IBAN'] = df_employee_bank_details['IBAN'].str.len()
df_employee_bank_details.head(5)

In [ ]:
df_employee_bank_details_length = df_employee_bank_details[(df_employee_bank_details['Length of IBAN']<23)]

In [ ]:
df_employee_bank_details_length.to_sql("Incorrect_employee_IBAN", eng_write)

# Finance and Procurement (Frequency: as per requirements - weekly, monthly or annually)

## 5.1 Supplier Master Analysis

The following are analyzed for the supplier master:

- Duplicate supplier codes for the same supplier
- Duplicate bank details for different suppliers
- Duplicate TRN (Tax registration number) for different suppliers

In [ ]:
## df_supplier_master = pd.read_excel("C:/users/ku1016/downloads/Supplier Master.xlsx")
## df_supplier_master.head(5)

In [ ]:
df_supplier_master_duplicate = df_supplier_master[df_supplier_master.duplicated(['SUPPLIER_NO'])]
df_supplier_master_duplicate

In [ ]:
df_comparison = pd.merge(df_supplier_master, df_supplier_master_duplicate, on='SUPPLIER_NO', how='inner')
df_comparison.head(5)

In [ ]:
df_supplier_master_duplicate.to_sql("Duplicate_suppliers_same_entity", eng_write)

The below output will require analysis to ensure the TRN duplicates are based on different suppliers and not the same supplier. The reason for the analysis is due to the fact Khalifa University registers the same vendor for the same entity twice based on minor tweaks.

As a recommendation, Internal Audit should recommend to establish 1 vendor across Khalifa University or remove the duplicated vendors registered multiple times for the same entity.

In [ ]:
df_supplier_master_TRN = df_supplier_master[df_supplier_master.duplicated(['TAX_REGISTRATION_NUM','OPERATING_UNIT','CITY'])]
df_supplier_master_TRN

In [ ]:
df_comparison = pd.merge(df_supplier_master, df_supplier_master_TRN, on='TAX_REGISTRATION_NUM', how='inner')
df_comparison.head(5)

In [ ]:
df_supplier_master_TRN.to_sql("TRN_supplier_duplicates", conn)

The bank related details are not part of the master supplier list and has been read from the excel file shared. In case the supplier master contains the bank details, **the code will only be required to be modifie from "df_supplier_bank" to "df_supplier_master"**.

In [ ]:
df_supplier_bank = pd.read_excel("C:/users/ku1016/downloads/Supplier bank detail.xlsx")
df_supplier_bank.head(5)

The output will require analysis to ensure the IBANs are for different suppliers, since at Khalifa University **multiple active accounts are valid for same supplier with same bank details, same bank account number and same address**.

In [ ]:
df_supplier_bank_duplicate = df_supplier_bank[(df_supplier_bank.duplicated(["Iban", "Bank Account"])) & (df_supplier_bank['Iban'].notna())]
df_supplier_bank_duplicate

In [ ]:
df_comparison = pd.merge(df_supplier_bank, df_supplier_bank_duplicate, on='TAX_REGISTRATION_NUM', how='inner')
df_comparison.head(5)

In [ ]:
df_supplier_duplicate.to_sql("IBAN_supplier", conn)

## 5.2 Missing information for suppliers

All active vendors at Khalifa University are required to have valid IBAN, address and TRN numbers at a minimum. Below are the analysis:

In [ ]:
df_supplier_missing_iban = df_supplier_bank[df_supplier_bank['Iban'].isnull()]
df_supplier_missing_iban

In [ ]:
df_supplier_missing_iban.to_sql("Missing_supplier_Iban", conn)

In [ ]:
df_supplier_missing_trn = df_supplier_bank[df_supplier_bank['Tax Registration No.'].isnull()]
df_supplier_missing_trn

In [ ]:
df_supplier_missing_trn.to_sql("Missing_supplier_trn", conn)

## 5.3 AP Master - Vendor payments, duplicate invoices/payments and multiple payments

The below scripts help to analyze the employee payments as vendor payments, duplicate invoices / payments issued or multiple payments issued to the same vendor in a short duration of time.

In [ ]:
## df_AP_invoices = pd.read_excel("C:/users/ku1016/downloads/AP Master.xlsx")
## df_AP_invoices.head(5)

In Khalifa University, employee payments are rendered as vendor payments. As per industry best practice, all employee related payments should be routed through HR payroll to ensure adequate controls are-in-place.

Below are the details:

In [ ]:
df_AP_employees = df_AP_invoices[(df_AP_invoices['VENDOR_TYPE']=='EMPLOYEE')]
df_AP_employees

In [ ]:
df_AP_employee.to_sql("Employee_Payments_as_Vendor", conn)

In [ ]:
df_AP_duplicate = df_AP_invoices[df_AP_invoices.duplicated()]
df_AP_duplicate

In [ ]:
df_AP_duplicate = df_AP_invoices[(df_AP_invoices.duplicated(['VENDOR_NO','INVOICE_NUM','INVOICE_DESCRIPTION'])) & (df_AP_invoices['INVOICE_APPROVAL_STATUS'] == "APPROVED")]
df_AP_duplicate

In [ ]:
df_AP_duplicate.to_sql("SameInvoiceNum_SameInvoiceDescription_SameVendor_Approved_Invoice", conn)

## 5.4 Purchase Orders

The below scripts enables IA Department to view all purchase orders created after the approval date of the purchase orders. Two columns utilized are "CREATION_DATE" (date of creation) and "PO_APPROVED_DATE" (date of approval).

In [ ]:
## df_POs = pd.read_excel("C:/users/ku1016/downloads/PO Master.xlsx")
## df_POs.head(5)

In [ ]:
df_POs['Approval'] = df_POs['PO_APPROVED_DATE']-df_POs['CREATION_DATE']

In [ ]:
df_POs.to_sql('Creation_After_Approval', conn)