In [2]:
import sqlite3
import pandas as pd
import sqlalchemy

In [3]:
engine = sqlalchemy.create_engine('sqlite:///cacm.db')

In [4]:
df1 = pd.DataFrame([{'Name' : 'Hatem','Surname' : 'Haddad'}])

In [5]:
df1

    Name Surname
0  Hatem  Haddad

In [9]:
df1.to_sql('staff',engine)

In [10]:
pd.read_sql("staff",engine)

   index   Name Surname
0      0  Hatem  Haddad