In [1]:
import pandas as pd
import fuzzymatcher
import numpy as np
import pyodbc
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
import sqlite3
from sqlite_fts4 import register_functions
from sqlalchemy import create_engine

In [2]:
pd.set_option('display.max_rows', None)

In [3]:
svr_name = 'KU1ICDDWV011.kunet.ae'
db_name = 'CACM'
u_name = 'cacm_user'
u_pass = 'Welcome#123'

In [4]:
eng = create_engine("mssql+pyodbc://"+u_name+":"+u_pass+"@"+svr_name+"/"+db_name+"?driver=ODBC+Driver+17+for+SQL+Server")

In [5]:
query_supplier = "select * from dbo.KU_SRC_BI_KUST_SUPPLIER"
query_employee_bankdetails = "select * from dbo.KU_SRC_EmployeesBankDetails"
query_employee_details = "select * from dbo.KU_SRC_EmployeeDetails"
query_ap = "select * from dbo.KU_SRC_AP_Invoices"
query_payroll = "select * from aderp.dbo.KU_Payroll_All"
query_leaves = "select * from CACM.dbo.KU_SRC_EmployeesLeaves"
query_attendance = "select * from aderp.dbo.KU_Attendance_view"

In [37]:
supplier = pd.read_sql(query_supplier, eng)
bank_details = pd.read_sql(query_employee_bankdetails, eng)
employee_details = pd.read_sql(query_employee_details, eng)
ap = pd.read_sql(query_ap, eng)
payroll = pd.read_sql(query_payroll, eng)
leaves = pd.read_sql(query_leaves,eng)
attendance = pd.read_sql(query_attendance, eng)

## Employee Basic Information

In [16]:
def info(id):
    
    try:
        name = list(employee_details[employee_details['EmpNo'] == id]['EmployeeName'])
        department = list(employee_details[employee_details['EmpNo'] == id]['Department'])
        vpname = list(employee_details[employee_details['EmpNo'] == id]['VPName'])[0]
        gender = list(employee_details[employee_details['EmpNo'] == id]['Gender'])[0]
        nationality = list(employee_details[employee_details['EmpNo'] == id]['Nationality'])[0]
        birth = list(employee_details[employee_details['EmpNo'] == id]['DateOfBirth'])[0]
        age = list(employee_details[employee_details['EmpNo'] == id]['Age'])[0]
        hire = list(employee_details[employee_details['EmpNo'] == id]['HireDate'])[0]
        details = attendance[attendance['empID'] == id].iloc[-1]
        date = details[0]
        salary = payroll[payroll['EmployeeNumber'] == id].sort_values(['PayYear','PayMonthNum'],ascending=[False,False])['Gross'].iloc[0]
        leave = leaves[leaves['EmployeeNumber'] == id].sort_values('LeaveStartDate',ascending=False).iloc[0]
        delta = int((datetime.datetime.strptime(date,"%Y-%m-%d").date() - datetime.datetime.today().date()).days)
        last_entry = datetime.datetime.strptime(date,"%Y-%m-%d").date()
        condition = np.where((last_entry > leave[4].date()) & (delta < 0),"Leave Not Registered","OK" )

        print('Name: ',name[0])
        print('Department: ',department[0])
        print('VP Name: ', vpname)
        print('Nationality: ', nationality)
        print('Date of Birth: ', birth)
        print('Age: ', age)
        print('Gender: ', gender)
        print('Hire Date: ', hire.date())
        print('Last Salary: '+ 'AED '+ str(salary))
        print('Last Entry Date: ', last_entry)
        print('Leave Start Date: ',leave[3].date())
        print('Leave End Date: ',leave[4].date())
        print('Leave Type: ', leave[2])
        print('Leave Duration', leave[5])
        #print(datetime.datetime.today().date())
        print('Attendance: ', condition)
        print('Days not attending: ', delta)
        
    except:
        print('ID is not available.')

## Same IBAN for different employees

In [17]:
def iban():
    
    '''
    Checks if two employees got the same IBA.
    
    '''
    bank_no_dup = bank_details[['IBAN','EMPLOYEENUMBER']].drop_duplicates()
    x = bank_no_dup[['IBAN','EMPLOYEENUMBER']].groupby('IBAN').agg({'EMPLOYEENUMBER':'count'}).sort_values('EMPLOYEENUMBER',ascending=False)
    return x[x['EMPLOYEENUMBER'] > 1].reset_index()

In [18]:
def dup_iban(iban):
    return list(bank_details[bank_details['IBAN'] == iban]['EMPLOYEENUMBER'].drop_duplicates())

## Supplier not Employee

In [19]:
def supplier_not_employee(cat):
    
    supplier_x = supplier[['SUPPLIER_NAME','SUPPLIER_CATEGORY']].drop_duplicates()
    employee = employee_details[['EmpNo','EmployeeName']].drop_duplicates()
    left = supplier_x.merge(employee,left_on='SUPPLIER_NAME',right_on='EmployeeName',how='left')
    result = left[(left['SUPPLIER_CATEGORY'] == cat) & (left['EmpNo'].isnull())]
    
    return result

In [20]:
supplier_x = supplier[['SUPPLIER_NAME','SUPPLIER_CATEGORY']].drop_duplicates()
employee = employee_details[['EmpNo','EmployeeName']].drop_duplicates()

In [32]:
l = ['KU883','KU106']

Name:  Najat Jumaa Al Mukaiti
Department:  Finance Operations
VP Name:  Ebrahim Jafar Alahmed
Nationality:  United Arab Emirates
Date of Birth:  07-DEC-1984
Age:  37
Gender:  Female
Hire Date:  2020-03-01
Last Salary: AED 45974.0
Last Entry Date:  2022-04-01
Leave Start Date:  2022-01-20
Leave End Date:  2022-01-20
Leave Type:  Partial Day Annual Leave
Leave Duration 0.5
Attendance:  Leave Not Registered
Days not attending:  -3

TypeError: 'NoneType' object is not subscriptable