# Bank account details in Supplier database(Beneficiary – employee) and Employee database matches.

1. Employee has two bank accounts in employee master
2. Emp bank account in employee master does not match the IBAN in supplier master (match by name)
3. Emp IBAN matches with supplier IBAN i.e. other categories

In [2]:
import pandas as pd
import numpy as np
import pyodbc
import seaborn as sns
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

In [3]:
svr_name = 'KU1ICDDWV011.kunet.ae'
db_name = 'CACM'
u_name = 'cacm_user'
u_pass = 'Welcome#123'

In [4]:
eng = create_engine("mssql+pyodbc://"+u_name+":"+u_pass+"@"+svr_name+"/"+db_name+"?driver=ODBC+Driver+17+for+SQL+Server")

In [5]:
query_supplier = "select * from dbo.KU_SRC_BI_KUST_SUPPLIER"
query_employee_bankdetails = "select * from dbo.KU_SRC_EmployeesBankDetails"
query_employee_details = "select * from dbo.KU_SRC_EmployeeDetails"
query_ap = "select * from dbo.KU_SRC_AP_Invoices"
query_payroll = "select * from aderp.dbo.KU_Payroll_All"
query_leaves = "select * from CACM.dbo.KU_SRC_EmployeesLeaves"
query_attendance = "select * from aderp.dbo.KU_Attendance_view"

In [6]:
supplier = pd.read_sql(query_supplier, eng)
bank_details = pd.read_sql(query_employee_bankdetails, eng)
employee_details = pd.read_sql(query_employee_details, eng)
ap = pd.read_sql(query_ap, eng)
payroll = pd.read_sql(query_payroll, eng)
leaves = pd.read_sql(query_leaves,eng)
attendance = pd.read_sql(query_attendance, eng)

In [102]:
def info(id):
    
    name = list(employee_details[employee_details['EmpNo'] == id]['EmployeeName'])
    details = attendance[attendance['empID'] == id].iloc[-1]
    date = details[0]
    salary = payroll[payroll['EmployeeNumber'] == id].sort_values(['PayYear','PayMonthNum'],ascending=[False,False])['Gross'].iloc[0]
    leave = leaves[leaves['EmployeeNumber'] == id].sort_values('LeaveStartDate',ascending=False).iloc[0]
    print('Name: ',name[0])
    print('Last Salary: '+ 'AED '+ str(salary))
    print('Last Entry Date: ',date)
    print('Leave Start Date: ',leave[3].date())
    print('Leave Type: ', leave[2])
    print('Leave Duration', leave[5])

In [103]:
info('KU750')

Name:  Juan Manuel Acuna
Last Salary: AED 91617.0
Last Entry Date:  2022-03-22
Leave Start Date:  2022-01-23
Leave Type:  EXPO 2020 Leave
Leave Duration 1.0

In [90]:
leaves[leaves['EmployeeNumber'] == 'KU750'].sort_values('LeaveStartDate',ascending=False).iloc[0]

EmployeeNumber                  KU750
leaveCategory                       V
LeaveType             EXPO 2020 Leave
LeaveStartDate    2022-01-23 00:00:00
LeaveEndDate      2022-01-23 00:00:00
leaveduration                     1.0
LeaveStatus                         A
Name: 32321, dtype: object

In [77]:
supplier_iban = supplier.loc[:,["SUPPLIER_NAME","BANK_NAME","BANK_ACCOUNT_IBAN"]].dropna()
supplier_iban

,SUPPLIER_NAME,BANK_NAME,BANK_ACCOUNT_IBAN
1,AL FUTTAIM MOTOR COMPANY L.L.C. - ABU DHABI,ABU DHABI COMMERCIAL BANK,AE230030000100317020003
7,POTENZA ELECTROMECHANICAL WORKS L.L.C.,ARAB BANK FOR INVESTMENT/TRADE,AE460080000991000479343
8,SOFIA ALEXANDRA BALULA PEREIRA DIAS,BANCO MONTEPIO,PT50003601999910005563195
9,SOFIA ALEXANDRA BALULA PEREIRA DIAS,ABU DHABI COMMERCIAL BANK,AE860030011980906910001
11,AADEL HASSAN MOHAMED MOHAMED ALHMOUDI,ABU DHABI ISLAMIC BANK,AE630500000000028230787
...,...,...,...
107191,JASON CYRUS FETTY,ABU DHABI COMMERCIAL BANK,AE390030011868320920001
107192,MOHAMED LAMINE SEGHIER,FIRST ABU DHABI BANK,AE130351871003748013019
107193,CHENG CHIN KUI,ABU DHABI COMMERCIAL BANK,AE910030011866895920001
107194,LUDOVIC FRANCIS YANNICK DUMEE,HSBC BANK MIDDLE EAST,AE930200000012240057001
107196,KHALIFA UNIVERSITY OF SCIENCE AND TECHONOLOGY-...,FIRST ABU DHABI BANK,AE030351011003284369136

In [43]:
list(employee_details[employee_details['EmpNo'] =='KU750']['EmployeeName'])

['Juan Manuel Acuna']

In [19]:
x = info('KU1016')
x[0]

'2022-03-30'

In [ ]:
employee_iban = bank_details.loc[:,["EMPLOYEENUMBER","IBAN"]]
employee_iban

In [ ]:
emp_name = employee_details.loc[:,["EmpNo","EmployeeName"]]
emp_name

In [ ]:
emp_join = emp_name.merge(supplier_iban,left_on="EmployeeName",right_on="SUPPLIER_NAME",how="left").drop_duplicates()
emp_join

In [ ]:
employee_iban.merge(supplier_iban,left_on="IBAN",right_on="BANK_ACCOUNT_IBAN",how="inner") \
.merge(emp_name,left_on="EMPLOYEENUMBER",right_on="EmpNo",how="inner").drop_duplicates()

In [ ]:
emp_join.head()

In [ ]:
emp_join.drop_duplicates().groupby("EmpNo")["BANK_ACCOUNT_IBAN"].count().sort_values(ascending=False)

In [ ]:
ap_merge = ap.merge(supplier_iban,left_on="Supplier Name",right_on="SUPPLIER_NAME",how="inner")

In [ ]:
ap.groupby("Invoice Number").agg({"Invoice Number":"count"})

In [ ]:
ap['Invoice Date'] = pd.to_datetime(ap['Invoice Date'])

In [ ]:
ap.set_index('Invoice Date',inplace=True)

In [ ]:
ap.loc['2021-10'].groupby('Supplier Name')['Invoice Amount'].sum().sort_values(ascending=False)

In [ ]:
ap['Supplier Name'].nunique()

In [ ]:
ap[ap['Approval Status'] == 'NEEDS REAPPROVAL']

In [ ]:
ap = ap.astype({'Payment Date':'datetime64','Invoice Received Date':'datetime64[ns]'},errors='ignore')

In [ ]:
bank_no_dup = bank_details[['IBAN','EMPLOYEENUMBER']].drop_duplicates()

dup=bank_no_dup[['IBAN','EMPLOYEENUMBER']].groupby('IBAN').agg({'EMPLOYEENUMBER':'count'}).sort_values('EMPLOYEENUMBER',ascending=False)

len(dup.index)
# bank_details[['IBAN','EMPLOYEENUMBER']].groupby('IBAN').agg({'EMPLOYEENUMBER':'first'})

In [ ]:
dup_bank_names = bank_details[bank_details['IBAN'].isin(['AE450351446003549975019','AE490240029520170584301','AE030340003578211043701','AE110030010364093204001','AE390350000000156655590','AE320520000110080030040','AE830351856003656580018','AE690030011396880920001','AE890030010200957141001','AE030500000000028310146'
,'AE020230000002001929807','AE350351466003921558016'])]

In [ ]:
employee_details.head(1)

In [ ]:
dup_final = dup_bank_names[['EMPLOYEENUMBER','IBAN']].merge(employee_details,left_on='EMPLOYEENUMBER',right_on='EmpNo',how='left')

In [ ]:
dup_final[['IBAN','EmpNo','EmployeeName']]

In [ ]:
employee_details[employee_details['EmpNo'] == 'KU750']

In [ ]:
payroll[payroll['EmployeeNumber'] == 'KU750'].pivot_table('Gross',index='EmployeeNumber',columns=['PayYear','PayMonthNum']).to_excel('KU750.xlsx')

In [ ]:
payroll

In [ ]:
leaves[leaves['EmployeeNumber'] == 'KU750']

In [13]:
attendance[attendance['empID'] == 'KU1016'].iloc[-1]

transactionDate    2022-03-30
empID                  KU1016
firstIn                 08:38
LastOUt                 14:29
Campus                    MAC
Name: 458729, dtype: object