In [1]:
import pandas as pd
import numpy as np
import pyodbc
import seaborn as sns
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

In [2]:
svr_name = 'KU1ICDDWV011.kunet.ae'
db_name = 'CACM'
u_name = 'cacm_user'
u_pass = 'Welcome#123'

In [3]:
eng = create_engine("mssql+pyodbc://"+u_name+":"+u_pass+"@"+svr_name+"/"+db_name+"?driver=ODBC+Driver+17+for+SQL+Server")

In [18]:
query_leaves = "select * from CACM.dbo.KU_SRC_EmployeesLeaves"
query_basic_info = "select * from ADERP.dbo.XXDOF_BI_KU_Emp_Basic_Info_T"

In [19]:
leaves = pd.read_sql(query_leaves, eng)
info = pd.read_sql(query_basic_info, eng)

In [7]:
leaves.head()

,EmployeeNumber,leaveCategory,LeaveType,LeaveStartDate,LeaveEndDate,leaveduration,LeaveStatus
0,100020235,V,Annual Leave,2017-08-13,2017-09-02,21.0,A
1,100020235,S,Maternity Sick Leave,2017-05-09,2017-05-11,3.0,A
2,100020235,S,Maternity Sick Leave,2017-04-18,2017-04-18,1.0,A
3,100020235,V,Annual Leave,2017-03-28,2017-03-30,3.0,A
4,100020235,V,Annual Leave,2017-03-22,2017-03-23,2.0,A

In [11]:
leaves = leaves.set_index('LeaveStartDate')

In [14]:
leaves21 = leaves.loc['2021']

In [25]:
leaves21 = leaves21[leaves21['LeaveType'].isin(['Unauthorized Unpaid Leave', 'Unpaid Leave'])]

In [32]:
leaves21 = leaves21.reset_index()

In [33]:
emp_number = info[['EMPLOYEENUMBER','EMPLOYEENAME']].drop_duplicates()

In [35]:
leaves21.merge(emp_number,left_on='EmployeeNumber',right_on='EMPLOYEENUMBER',how='left').to_excel('unpaid_leaves_2021.xlsx')