In [2]:
import pandas as pd
import numpy as np
import pyodbc
import seaborn as sns
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

In [3]:
svr_name = 'KU1ICDDWV011.kunet.ae'
db_name = 'CACM'
u_name = 'cacm_user'
u_pass = 'Welcome#123'

In [4]:
eng = create_engine("mssql+pyodbc://"+u_name+":"+u_pass+"@"+svr_name+"/"+db_name+"?driver=ODBC+Driver+17+for+SQL+Server")

In [5]:
query_basic_info = "select * from ADERP.dbo.XXDOF_BI_KU_Emp_Basic_Info_T"
query_assignment = "select * from ADERP.dbo.XXDOF_BI_KU_Assignment_T"
query_resignation = "select * from ADERP.dbo.XXDOF_BI_KU_Resignation_T"

In [6]:
info = pd.read_sql(query_basic_info, eng)
assignment = pd.read_sql(query_assignment, eng)
resignation = pd.read_sql(query_resignation, eng)

In [7]:
info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81907 entries, 0 to 81906
Data columns (total 39 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   PERSONID                    81907 non-null  float64
 1   PERSONTYPE                  81907 non-null  object
 2   EMIRATESID                  15793 non-null  object
 3   EMPLOYEENUMBER              11398 non-null  object
 4   HIREDATE                    10907 non-null  datetime64[ns]
 5   ADJUSTEDSERVICEDATE         3400 non-null   datetime64[ns]
 6   ORIGINALHIREDATE            10806 non-null  datetime64[ns]
 7   EFFECTIVESTARTDATE          81907 non-null  datetime64[ns]
 8   EFFECTIVEENDDATE            81907 non-null  object
 9   TITLE                       9888 non-null   object
 10  EMPLOYEENAME                81907 non-null  object
 11  EMPLOYEEARABICNAME          81907 non-null  object
 12  GENDER                      55006 non-null  object
 13  FIRST_NAME                  81436 non-null  object
 14  LAST_NAME                   81907 non-null  object
 15  MIDDLE_NAME_ENG             24771 non-null  object
 16  GRAND_FATHER_NAME_ENG       16072 non-null  object
 17  FULL_NAME                   81907 non-null  object
 18  FIRST_NAME_AR               19397 non-null  object
 19  MIDDLE_NAME_AR              12519 non-null  object
 20  GRAND_FATHER_NAME_AR        10904 non-null  object
 21  LAST_NAME_AR                20011 non-null  object
 22  RELIGION                    9448 non-null   object
 23  NATIONALITY                 54393 non-null  object
 24  TOWN_OF_BIRTH               2535 non-null   object
 25  COUNTRY_OF_BIRTH            0 non-null      object
 26  DATEOFBIRTH                 54563 non-null  object
 27  EMAILADDRESS                81756 non-null  object
 28  EMAILADDRESSPERSONAL        81907 non-null  object
 29  MARITALSTAT                 54303 non-null  object
 30  PENSION_MEMBER_ID           341 non-null    object
 31  PERNSION_REGISTRATION_DATE  333 non-null    object
 32  NEARESTAIRPORT              1945 non-null   object
 33  POINTOFORIGIN               81907 non-null  object
 34  AUTOCREATEFLAG              11279 non-null  object
 35  CREATEDBY                   81907 non-null  float64
 36  LASTUPDATEDBY               81907 non-null  float64
 37  LASTUPDATEDATE              81907 non-null  datetime64[ns]
 38  LASTUPDATEDATE1             81907 non-null  datetime64[ns]
dtypes: datetime64[ns](6), float64(3), object(30)
memory usage: 24.4+ MB