In [1]:
import pyodbc

In [57]:
import pandas as pd
import numpy as np
import time
from datetime import date, timedelta

# 1. Student Master Data

In [5]:
##import student master data

df_student_master = pd.read_excel("C:/Users/prabhjotsingh3/OneDrive - KPMG/Documents/2021 Projects/Khalifa University/Project/Data/Student Master Data.xlsx")

In [6]:
df_student_master.head(5)

,ID,NAPO_ID,FIRST_NAME,LAST_NAME,FULL_NAME,ARABIC_NAME,GENDER,CAMPUS,MAX_TERM,STUDENT_STATUS,...,BIRTH_DATE,SCHOOL_NAME,SCHOOL_AVG,HIGH_SCHOOL_ENGL,HIGH_SCHOOL_MATH,HIGH_SCHOOL_ARAB,IELTS_OVERALL,ELTS_TEST_DATE,EMTH,EMEN
0,100020068,NaN,Mohammed,Al Khaja,Mohammed Ali Al Khaja,NaN,M,S,NaN,Inactive,...,NaN,NaN,86.6,89,84,NaN,6.5,2011-01-19,NaN,NaN
1,100020083,NaN,Rashid,Al Murashda,Rashid Rashed Saeed Al Murashda,NaN,M,S,NaN,Inactive,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
2,100020008,NaN,Abdulla,Mohammed,Abdulla Ahmed Abdullah Mohammed,NaN,M,S,NaN,Inactive,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
3,100020015,NaN,Ahmed,Al Wahbi,Ahmed Abdullah Ibrahim Al Wahbi,NaN,M,S,NaN,Inactive,...,NaN,NaN,81.5,78,78,NaN,NaN,NaT,NaN,NaN
4,100020016,NaN,Ahmed,Al Suwaidi,Ahmed Mohammed Sultan Al Suwaidi,NaN,M,S,NaN,Inactive,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN

## 1.1 Duplicate Student Records

### 1.1 Overall Duplicates

In [8]:
df_student_master_duplicate = df_student_master[df_student_master.duplicated()]

In [9]:
df_student_master_duplicate

Empty DataFrame
Columns: [ID, NAPO_ID, FIRST_NAME, LAST_NAME, FULL_NAME, ARABIC_NAME, GENDER, CAMPUS, MAX_TERM, STUDENT_STATUS, CURRENT_TERM_ENROLLMENT_STATUS, MAX_TERM_ENROLLMENT_STATUS, MAX_TERM_ENROLLED_WITHDR_DATE, PROGRAM, COURSES, MAJOR, CONCENTRATION, MINOR, STUDENT_LEVEL, COLLEGE, CGPA, PASSPORT_ID, PASSPORT_EXP_DATE, EMIRATES_ID, BIRTH_DATE, SCHOOL_NAME, SCHOOL_AVG, HIGH_SCHOOL_ENGL, HIGH_SCHOOL_MATH, HIGH_SCHOOL_ARAB, IELTS_OVERALL, ELTS_TEST_DATE, EMTH, EMEN]
Index: []

[0 rows x 34 columns]

### 1.1.2 Student ID Duplicates

In [10]:
df_student_master_duplicate = df_student_master[df_student_master.duplicated(['ID'])]

In [11]:
df_student_master_duplicate

Empty DataFrame
Columns: [ID, NAPO_ID, FIRST_NAME, LAST_NAME, FULL_NAME, ARABIC_NAME, GENDER, CAMPUS, MAX_TERM, STUDENT_STATUS, CURRENT_TERM_ENROLLMENT_STATUS, MAX_TERM_ENROLLMENT_STATUS, MAX_TERM_ENROLLED_WITHDR_DATE, PROGRAM, COURSES, MAJOR, CONCENTRATION, MINOR, STUDENT_LEVEL, COLLEGE, CGPA, PASSPORT_ID, PASSPORT_EXP_DATE, EMIRATES_ID, BIRTH_DATE, SCHOOL_NAME, SCHOOL_AVG, HIGH_SCHOOL_ENGL, HIGH_SCHOOL_MATH, HIGH_SCHOOL_ARAB, IELTS_OVERALL, ELTS_TEST_DATE, EMTH, EMEN]
Index: []

[0 rows x 34 columns]

### 1.1.3 Student Names Duplicates

In [12]:
df_student_master_duplicate = df_student_master[df_student_master.duplicated(['FULL_NAME'])]

In [13]:
df_student_master_duplicate

,ID,NAPO_ID,FIRST_NAME,LAST_NAME,FULL_NAME,ARABIC_NAME,GENDER,CAMPUS,MAX_TERM,STUDENT_STATUS,...,BIRTH_DATE,SCHOOL_NAME,SCHOOL_AVG,HIGH_SCHOOL_ENGL,HIGH_SCHOOL_MATH,HIGH_SCHOOL_ARAB,IELTS_OVERALL,ELTS_TEST_DATE,EMTH,EMEN
1726,100060606,NaN,Abdulrahman,Almarzooqi,Abdulrahman Abdulla Almarzooqi,عبدالرحمن عبدالله المرزوقي,M,A,NaN,Inactive-Did not register,...,1994-04-24 00:00:00,NaN,94,NaN,NaN,NaN,6.5,2016-08-05,NaN,NaN
3588,100058270,NaN,Mohammad,Awadhalla,Mohammad Fadi Awadhalla,محمد فادي عوض الله,M,A,NaN,Inactive-Did not register,...,1997-11-16 00:00:00,NaN,A+,NaN,NaN,NaN,NaN,NaT,NaN,NaN
4114,100035081,NaN,Alya,Alsaadi,Alya Alsaadi,NaN,F,S,NaN,Withdrawn,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
6668,100042377,NaN,Hend,Mohamed Ahmed Almarzooqi,Hend Ahmed Mohamed Ahmed Almarzooqi,NaN,F,A,NaN,Inactive-Did not register,...,1997-11-04 00:00:00,APPLIED TECHNOLOGY HS AUH,81.4,80,72,NaN,NaN,NaT,NaN,NaN
6944,100001904,NaN,Abdulla,Al Ali,Abdulla Rashid Al Ali,NaN,M,S,NaN,Inactive,...,1990-03-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
7050,100048093,NaN,Nouf,Alzaabi,Nouf Ebrahim Alzaabi,نوف ابراهيم سالم مسعود الزعابي,F,M,NaN,Inactive due to Graduation,...,1991-08-13 00:00:00,NaN,NaN,NaN,NaN,NaN,6.5,2011-04-02,NaN,NaN
7680,100046318,NaN,Hanan,Hamdan,Hanan Ahmad Mohammad Hamdan,حنان احمد محمد حمدان,F,P,201720.0,Inactive due to Graduation,...,1992-04-06 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
7715,100052916,NaN,Fadi,Dawaymeh,Fadi Zeyad Dawaymeh,فادي زياد نواف دوايمه,M,A,202110.0,Active,...,1991-01-16 00:00:00,NaN,0.95,NaN,NaN,NaN,6,2017-05-25,NaN,NaN
7766,100058255,NaN,Dima,Ali,Dima Samer Ali,ديمة سامر علي,F,A,NaN,Inactive-Did not register,...,1993-08-04 00:00:00,NaN,99.2,NaN,NaN,NaN,8,2018-03-03,NaN,NaN
7791,100043364,NaN,Fareha,Nasim,Fareha Zainab Nasim,NaN,F,A,NaN,Inactive-Did not register,...,1998-01-14 00:00:00,ISLAMIC ENGLISH PVT. SCHOOL,NaN,C,A,NaN,NaN,NaT,NaN,NaN
8176,100061501,NaN,Muhammad,Osama,Muhammad Osama,محمد أسامه,M,A,NaN,Admission Deferred,...,1998-11-21 00:00:00,NaN,957,NaN,NaN,NaN,NaN,NaT,NaN,NaN
8414,100035348,NaN,Bushra,Ehmaid,Bushra Bassam Mohamed Ehmaid,NaN,F,A,NaN,Inactive,...,1993-03-08 00:00:00,NaN,98.6,96,99,NaN,NaN,NaT,NaN,NaN
8689,100042767,NaN,Hamad,Ali Mohammed Alhosani,Hamad Hassan Ali Mohammed Alhosani,NaN,M,A,NaN,Inactive-Did not register,...,1997-02-03 00:00:00,TARYEM OMRAN TARYEM HIGH SCHOO,96.3,97.9,99.4,NaN,6,2015-08-19,NaN,NaN
8732,100038841,NaN,Shiza,Saleem,Shiza Saleem,شيزا سليم بنت محمد جافيد,F,A,201520.0,Inactive due to Graduation,...,1994-02-10 00:00:00,ISLAMIC ENGLISH PVT. SCHOOL,85.77,NaN,NaN,NaN,NaN,NaT,NaN,NaN
9139,100048474,NaN,Mariam,Alhashmi,Mariam Abdulhameed Alsayedmohamed Alhashmi,مريم عبدالحميد السيدمحمد الهاشمي,F,Z,202020.0,Inactive due to Graduation,...,1997-10-16 00:00:00,HUNAIN SCHOOL -F,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
9218,100049147,NaN,Xiaoxiong,Zhang,Xiaoxiong Zhang,اكسياوكسيونج زهانج,M,P,NaN,Inactive due to Graduation,...,1990-03-19 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
9572,100038906,NaN,Mahmoud,Khalil,Mahmoud Mustafa Khalil,محمود مصطفى خليل,M,A,NaN,Inactive-Did not register,...,1994-05-26 00:00:00,ABU DHABI SEC. SCHOOL -M,99,95.2,99.8,NaN,6,2012-07-18,NaN,NaN
9676,100049400,NaN,Muhammad Ahmed,Humais,Muhammad Ahmed Humais,محمد أحمد محمد اجاز رشيد,M,A,201920.0,Inactive due to Graduation,...,1996-04-24 00:00:00,NaN,0.849,NaN,NaN,NaN,NaN,NaT,NaN,NaN
9800,100045979,NaN,Mariam,Salmeen,Mariam Hamad Salmeen Anber Salmeen,مريم حمد سالمين عنبر سالمين,F,NaN,201830.0,Inactive due to Graduation,...,1993-06-21 00:00:00,NaN,NaN,NaN,NaN,NaN,8,2017-09-11,NaN,NaN
9830,100050201,NaN,Ali,Alobaidi,Ali Khalid Ali Saleh Alobaidi,على خالد على صالح العبيدى,M,H,202110.0,Active,...,1997-06-10 00:00:00,AL HUSON HIGHT SCHOOL- B/AUH,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
11248,100049383,NaN,Haile,Woldesellasse,Haile Tecle Woldesellasse,هيلي تيسل ولديسلاس,M,A,201910.0,Dismissal,...,1990-02-14 00:00:00,NaN,3.2,NaN,NaN,NaN,7,2017-10-21,NaN,NaN
11287,100050075,NaN,Salama,Alheara,Salama Amer Alheara,NaN,F,A,NaN,Inactive,...,1995-01-20 00:00:00,NaN,97.4,NaN,NaN,NaN,NaN,NaT,NaN,NaN
12619,100041200,NaN,Vikas,Kumar,Vikas Kumar,ويكاس بانجات براساد كومار,M,M,NaN,Inactive-Did not register,...,1985-07-13 00:00:00,NaN,NaN,NaN,NaN,NaN,6.5,2009-11-14,NaN,NaN
13185,100047399,NaN,Muhammad,Ali,Muhammad Ali,NaN,M,M,NaN,Inactive-Did not register,...,1986-12-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
13752,100049403,NaN,Yohanna,Fseha,Yohanna Haile Fseha,يوحانا هيل فسيحة,F,A,202110.0,Active,...,1990-04-23 00:00:00,NaN,A star,NaN,NaN,NaN,8,2013-02-14,NaN,NaN
13818,100058223,NaN,Tariq,Altamimi,Tariq Saadaldin Altamimi,طارق سعدالدين التميمي,M,A,202142.0,Active,...,1996-06-14 00:00:00,NaN,A,NaN,NaN,NaN,NaN,NaT,NaN,NaN
13905,100050196,NaN,Yusra,Alblooshi,Yusra Mohammed Moosa Ali Alblooshi,يسرا محمد موسى على البلوشي,F,Z,202110.0,Active,...,1998-06-21 00:00:00,AL DHAIT BAS. & SEC SCH -G,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
14201,100061039,NaN,Mohamed,Alnufaili,Mohamed Abdulla Alnufaili,محمد عبدالله النفيلي,M,A,NaN,Withdrawn-Admission by Student,...,1994-09-07 00:00:00,NaN,95.3,NaN,NaN,NaN,NaN,NaT,NaN,NaN
14324,100058297,NaN,Maitha,Alshamsi,Maitha Helal Alshamsi,ميثا هلال الشامسي,F,A,202142.0,Active,...,1997-10-22 00:00:00,NaN,B+,NaN,NaN,NaN,6.5,2020-03-05,NaN,NaN
14475,100036836,NaN,Martin,Oliver Fernandes,Martin Oliver Fernandes,NaN,M,A,NaN,Inactive-Did not register,...,1993-01-01 00:00:00,INTERNATIONAL COMMUNITY SCH._M,97.9,96,99,NaN,NaN,NaT,NaN,NaN
15142,100048206,NaN,Sohail,Shah,Sohail Shah,NaN,M,M,NaN,Inactive due to Graduation,...,1992-04-23 00:00:00,NaN,NaN,NaN,NaN,NaN,7,2014-04-26,NaN,NaN
15226,100048544,NaN,Diana,Amin,Diana Maher Morris Amin,ديانا ماهر موريس امين,F,P,NaN,Inactive due to Graduation,...,1992-02-26 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
15330,100049380,NaN,Karim,Moharm,Karim Ibrahim Moharm,كريم ابراهيم محمد,M,A,NaN,Inactive-Did not register,...,1993-01-01 00:00:00,NaN,96.7,NaN,NaN,NaN,6.5,2018-06-02,NaN,NaN
15331,100049382,NaN,Mai,Almarri,Mai Abdulsalam Almarri,مي عبدالسلام المري,F,A,201920.0,Withdrawn,...,1995-11-30 00:00:00,NaN,97.4,NaN,NaN,NaN,7,2017-04-22,NaN,NaN
15835,100050135,NaN,Hind,Sulieman,Hind Yahya Sulieman,هند يحيى سليمان,F,A,202110.0,Active,...,1991-07-01 00:00:00,NaN,90,NaN,NaN,NaN,6.5,2016-01-23,NaN,NaN
15837,100050151,NaN,Abdulaziz,Alblooshi,Abdulaziz Abbas Ahmed Yousef Alblooshi,عبدالعزيز عباس احمد يوسف البلوشى,M,H,202030.0,Inactive due to Graduation,...,1996-02-11 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
15857,100058220,NaN,Mahra,Aldarmaki,Mahra Khalifa Aldarmaki,مهره خليفه الدرمكي,F,A,202110.0,Active,...,1996-11-10 00:00:00,NaN,90,NaN,NaN,NaN,NaN,NaT,NaN,NaN
15882,100057585,NaN,Hongtao,Zhang,Hongtao Zhang,هونجتو زانج,M,A,202110.0,Active,...,1991-08-21 00:00:00,NaN,A,NaN,NaN,NaN,6,2014-03-01,NaN,NaN
15953,100050190,NaN,Abdulaziz,Alsabeeha,Abdulaziz Nabeel Alsabeeha,NaN,M,A,NaN,Inactive,...,1996-01-10 00:00:00,NaN,92.8,NaN,NaN,NaN,8,2014-06-07,NaN,NaN
16045,100060515,NaN,Aysha,Zafar,Aysha Zafar,عايشة زفر,F,A,202141.0,Active,...,1998-01-02 00:00:00,NaN,B,NaN,NaN,NaN,NaN,NaT,NaN,NaN

In [14]:
df_student_master_duplicate.to_excel("C:/Users/prabhjotsingh3/OneDrive - KPMG/Documents/2021 Projects/Khalifa University/Project/Analysis/Duplicate Student Names.xlsx")

### 1.1.4 Emirates ID Duplicate

In [22]:
df_student_master_duplicate = df_student_master[df_student_master.duplicated(['EMIRATES_ID'])]

In [23]:
df_student_master_duplicate

,ID,NAPO_ID,FIRST_NAME,LAST_NAME,FULL_NAME,ARABIC_NAME,GENDER,CAMPUS,MAX_TERM,STUDENT_STATUS,...,SCHOOL_NAME,SCHOOL_AVG,HIGH_SCHOOL_ENGL,HIGH_SCHOOL_MATH,HIGH_SCHOOL_ARAB,IELTS_OVERALL,ELTS_TEST_DATE,EMTH,EMEN,Length
1,100020083,NaN,Rashid,Al Murashda,Rashid Rashed Saeed Al Murashda,NaN,M,S,NaN,Inactive,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
2,100020008,NaN,Abdulla,Mohammed,Abdulla Ahmed Abdullah Mohammed,NaN,M,S,NaN,Inactive,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
3,100020015,NaN,Ahmed,Al Wahbi,Ahmed Abdullah Ibrahim Al Wahbi,NaN,M,S,NaN,Inactive,...,NaN,81.5,78,78,NaN,NaN,NaT,NaN,NaN,NaN
4,100020016,NaN,Ahmed,Al Suwaidi,Ahmed Mohammed Sultan Al Suwaidi,NaN,M,S,NaN,Inactive,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
6,100020031,NaN,Hamad,Tunaiji,Hamad Saeed Mohammed Tunaiji,NaN,M,S,NaN,Inactive,...,NaN,90,75,84,NaN,NaN,NaT,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16326,100061196,NaN,Maryam,Ali,Maryam Abdulla Ali,مريم عبدالله علي,F,A,NaN,Inactive-Did not register,...,NaN,94.7,NaN,NaN,NaN,6.5,2020-09-05,NaN,NaN,NaN
16353,100058885,NaN,Muhammad,Danishwar,Muhammad Zulfiqar Ahmad Danishwar,NaN,M,A,NaN,Inactive-Did not register,...,NaN,79.27,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
16361,100058294,NaN,Nowshin Radiya,Kabir,Nowshin Radiya Kabir,NaN,F,A,NaN,Inactive-Did not register,...,NaN,39,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
16363,100058314,NaN,Cyril,Pepple,Cyril Christopher Pepple,NaN,M,A,NaN,Inactive-Did not register,...,NaN,B,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
16365,100058324,NaN,Sara,El Moussa,Sara Ahmad El Moussa,سارة أحمد الموسى,F,A,202141.0,Active,...,NaN,84,NaN,NaN,NaN,8,2019-02-23,NaN,NaN,NaN

In [25]:
df_student_master_duplicate.to_excel("C:/Users/prabhjotsingh3/OneDrive - KPMG/Documents/2021 Projects/Khalifa University/Project/Analysis/Emirates ID Duplicate.xlsx")

### 1.1.5 Emirates ID

In [26]:
df_student_master['Length'] = df_student_master['EMIRATES_ID'].str.len()

In [35]:
df_student_master_EID = df_student_master[(df_student_master['Length'] < 15) | (df_student_master['Length'] > 15)]

In [36]:
df_student_master_EID

,ID,NAPO_ID,FIRST_NAME,LAST_NAME,FULL_NAME,ARABIC_NAME,GENDER,CAMPUS,MAX_TERM,STUDENT_STATUS,...,SCHOOL_NAME,SCHOOL_AVG,HIGH_SCHOOL_ENGL,HIGH_SCHOOL_MATH,HIGH_SCHOOL_ARAB,IELTS_OVERALL,ELTS_TEST_DATE,EMTH,EMEN,Length
57,100020289,NaN,Marwa,Jaber,Marwa Ali Awadh Jaber,مروة علي عوض جبر,F,A,201410.0,Inactive due to Graduation,...,PALESTINE SCHOOL-F,80.7,96,193,NaN,6,2009-06-14,NaN,NaN,7.0
128,100035191,NaN,Zainab,Moazzam,Zainab Muhammad Moazzam Moazzam,زينب محمد معظم,F,A,201320.0,Inactive due to Graduation,...,AL ROWAIS INTER. PVT. SCH.G,87,85,81,NaN,NaN,NaT,NaN,NaN,7.0
1225,100055530,NaN,Saif,Yaqoub,Saif Darwish Mustafa Yaqoub,سيف درويش مصطفى يعقوب,M,H,NaN,Inactive due to Graduation,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,6.0
2230,100035729,NaN,Faisal,Alameeri,Faisal Abdulkareim Kamal Omar Alameeri,فيصل عبدالكريم كمال عمر الأميري,M,S,NaN,Inactive due to Graduation,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,7.0
2284,100036384,NaN,Youssef,Fora,Youssef Ait Fora,يوسف ايت فورة,M,A,201420.0,Inactive due to Graduation,...,AL NAHDHA NATIONAL PVT. B _AUH,A,NaN,A,NaN,NaN,NaT,NaN,NaN,7.0
4122,100035182,NaN,Maleka,Bin Tarsh,Maleka Abdulbari Awadh Bin Tarsh,مالكه عبدالباري عوض بن طرش,F,A,201330.0,Inactive due to Graduation,...,Al Muttahedah Girls School,97.4,97,98,NaN,NaN,NaT,NaN,NaN,7.0
4170,100035344,NaN,Doae,Ben Khadra,Doae Amin Ahmed Jamal Ben Khadra,دعاء بن خضراء,F,A,201410.0,Inactive due to Graduation,...,ROSARY SCHOOL PVT. _G-AUH,96,92,94,NaN,6,2010-07-21,NaN,NaN,7.0
4190,100033787,NaN,Shamsa,Al Nuaimi,Shamsa Nasser Saeed Al Nuaimi,شمسه ناصر سعيد النعيمى,F,A,201420.0,Inactive due to Graduation,...,AL NAHDHA NATIONAL PVT. B _AUH,95.3,92,96,NaN,NaN,NaT,NaN,NaN,7.0
4218,100035200,NaN,Enas,Osman,Enas Azhair Osman,ايناس ازهري احمد عثمان,F,A,201320.0,Inactive due to Graduation,...,"AL JAHLI SCHOOL- G(AL SAROOJ,A",98,95,99,NaN,7,2013-11-01,NaN,NaN,7.0
5637,100058142,NaN,Aamna,Al Shehhi,Aamna Mohammed Al Shehhi,آمنة محمد الحيد محمد الشحي,F,M,NaN,Inactive due to Graduation,...,NaN,NaN,NaN,NaN,NaN,7,2010-06-26,NaN,NaN,7.0
6269,100020269,NaN,Huda,Somer,Huda Naser Mohamed Somer,هدى ناصر محمد سومر,F,A,201310.0,Inactive due to Graduation,...,Aisha Bint Abi Bakr Girls' Sch,92.3,95,265,NaN,6.5,2009-02-03,NaN,NaN,7.0
6290,100032340,NaN,Zakaria,Saed,Zakaria Toufik Saed,زكريا توفيق ساعد,M,A,201220.0,Inactive due to Graduation,...,ASHBAL ALQUDIS PVT.SCH-G/AUH,96,94,97,NaN,NaN,NaT,NaN,NaN,7.0
6310,100035340,NaN,Meriam,Larbi,Meriam Larbi,مريم بنت فتحي العربي,F,A,201420.0,Inactive due to Graduation,...,MRAIJIB GIRLS SCH. FOR SEC.,98.5,99,100,NaN,6.5,2010-07-21,NaN,NaN,7.0
6316,100031997,NaN,Mohamed,Elsheiwi,Mohamed Moustafa Ahmed Elsheiwi,محمد مصطفى احمد محمود عبدالله الشيوى,M,A,201230.0,Inactive-Did not register,...,MOHAMED BIN HAMAD AL SHARQI SE,98.8,98,100,NaN,6.5,2010-01-01,NaN,NaN,7.0
6474,100040639,NaN,Senamees,Khrais,Senamees Sa'd Taleb Khrais,سيناميس سعد طالب خريس,F,A,201630.0,Inactive due to Graduation,...,ROSARY SCHOOL PVT. _G-AUH,97.4,96.9,98.4,NaN,6,2013-07-14,NaN,NaN,7.0
8301,100020272,NaN,Isra,Lababidi,Isra Abdullah Lababidi,اسراء عبدالله لبابيدي,F,A,201230.0,Inactive due to Graduation,...,Al Mona School - Exp. Children,97.9,99,296,NaN,7.5,2009-02-03,NaN,NaN,7.0
8302,100020292,NaN,Mervat,Hafez,Mervat M.Wahid Hafez,ميرفت محمد وحيد حافظ,F,A,201310.0,Inactive due to Graduation,...,Al-Mona Parent Council Classes,97.6,91,297,NaN,5.5,2009-02-03,NaN,NaN,7.0
8334,100035338,NaN,Hashem,Al Argha,Hashem Mhd Hicham Al Argha,هاشم محمد هشام الارغا,M,A,201410.0,Inactive due to Graduation,...,EMIRATES PVT SCHOOL- B_AUH,97,NaN,NaN,NaN,7,2011-01-08,NaN,NaN,7.0
9102,100048533,NaN,Ahmed,Shehada,Ahmed Shehada,أحمد شحاده,M,P,NaN,Inactive-Did not register,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,7.0
10282,100031643,NaN,Ruba,O'MARIA,Ruba Bassam Faleh O'MARIA,ربى بسام فالح عمريه,F,A,201220.0,Inactive due to Graduation,...,Aisha Bint Abi Bakr Girls' Sch,96.6,97,100,NaN,6,2009-04-25,NaN,NaN,7.0
10319,100020314,NaN,Omar,Alhussein,Omar Ahmad Mohammad Alhussein,عمر أحمد محمد الحسين,M,A,201230.0,Inactive due to Graduation,...,AL MANHAL INT. PVT.S.-B,96.1,94,293,NaN,7,2009-02-03,NaN,NaN,7.0
10320,100020316,NaN,Ouhood,Al Hosani,Ouhood Ibrahim Husain Al Hosani,عهود ابراهيم حسين ابراهيم الحوسني,F,A,201420.0,Inactive due to Graduation,...,PALESTINE SCHOOL-F,87.3,92,246,NaN,6.5,2009-06-14,NaN,NaN,7.0
10400,100035184,NaN,Oubai,Abbasi,Oubai Ehsan Abbasi Abbasi,ابي احسان عباسي,M,A,201330.0,Inactive due to Graduation,...,ZAYED THE FIRST BOYS SCH. FOR,98.1,99,100,NaN,NaN,NaT,NaN,NaN,7.0
10401,100035196,NaN,Rasha,Tabasha,Rasha H.A.Tabasha Tabasha,رشا حسن عبدالرحمن طباشه,F,A,201410.0,Inactive due to Graduation,...,ROSARY SCHOOL PVT. _G-AUH,98.3,98,100,NaN,7,2010-11-06,NaN,NaN,7.0
10786,100038840,NaN,Aisha,Idrees,Aisha Idrees,عائشة إدريس طارق,F,A,201520.0,Inactive due to Graduation,...,AL NAHDHA NATIONAL PVT. B _AUH,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,7.0
12324,100031460,NaN,Shamma,Alqamzi,Shamma Butti Saif Alqamzi,شماء بطى سيف القمزى,F,A,201330.0,Inactive due to Graduation,...,AL NAHDHA NATIONAL PVT. B _AUH,93.4,83,98,NaN,NaN,NaT,NaN,NaN,7.0
12325,100031488,NaN,Sara,Al Shomali,Sara Zuhair Ahmed Al Shomali,ساره زهير احمد عبدالعزيز سعيد الشوملي,F,A,201320.0,Inactive due to Graduation,...,AL MAWAHEB SCHOOL-G /AUH,96.6,98,96,NaN,NaN,NaT,NaN,NaN,7.0
12327,100031286,NaN,Sara,Azzeh,Sara Samir Mahmoud Azzeh,ساره سمير محمود عزه,F,A,201310.0,Inactive due to Graduation,...,DAR AL ELOOM PVT SCH.- G/ AUH,95.6,97,99,NaN,6,2009-05-09,NaN,NaN,7.0
12338,100035156,NaN,Maryam,Alraeesi,Maryam Ahmed Alraeesi,مريم احمد محمد رئيسي,F,A,201420.0,Inactive-Did not register,...,AL RAYA SEC. SCHOOL -G,89.6,95,82,NaN,6,2011-03-05,NaN,NaN,7.0
12355,100032241,NaN,Aisha,Al Ali,Aisha Jassem Ali Sultan Al Ali,عائشه جاسم على سلطان جاسم ال على,F,A,201320.0,Inactive due to Graduation,...,AL MAWAHEB SCHOOL-G /AUH,92.5,94,93,NaN,6.5,2009-08-22,NaN,NaN,7.0
12515,100036816,NaN,Saleh,Abdalla,Saleh Juan Saleh Abdalla,صالح جوان صالح عبد الله,M,A,201420.0,Inactive due to Graduation,...,Al Ma'arifa International PVT.,A+,A+,A+,NaN,102,2010-11-13,NaN,NaN,7.0
12567,100038865,NaN,Menatalla,Saleh,Menatalla Mohamed Taha Saleh,منه الله محمد طه صالح,F,A,201530.0,Inactive due to Graduation,...,INTERNATIONAL COMMUNITY SCH._M,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,7.0
12847,100035546,NaN,Dereck,Bastienne,Dereck Vincent Bastienne,ديريسك فنسنت باستين,M,A,201410.0,Inactive due to Graduation,...,School of Advanced Level Stud.,85,NaN,90,NaN,8,2011-01-08,NaN,NaN,7.0
14364,100020202,NaN,Aamena,Al Hammadi,Aamena Khalil Ebrahim Al Hammadi,امنه خليل ابراهيم عبدالله الحمادي,F,A,201310.0,Inactive due to Graduation,...,UMM AMMAR SCHOOL -F,86,NaN,257,NaN,5,2008-05-20,NaN,NaN,7.0
14374,100031213,NaN,Shawq,Al Hosani,Shawq Abdulla Ahmed Al Hosani,شوق عبدالله احمد الحوسني,F,A,201320.0,Inactive due to Graduation,...,Hunei Secondary School - Girls,92.8,97,91,NaN,6,2009-08-22,NaN,NaN,7.0
14448,100035472,NaN,Amal,Bin Lootah,Amal Abufaras Mohd Bin Lootah,امل ابوفراس محمد حسين ناصر بن لوتاه,F,A,201430.0,Inactive due to Graduation,...,MARYAH AL QUBTEYA SEC. SCH (MA,82,90,75,NaN,5.5,2010-08-28,NaN,NaN,7.0
14452,100033911,NaN,Mohannad,Khader,Mohannad Mahmood Kayed Khader,مهند محمود كايد خضر,M,A,201320.0,Inactive due to Graduation,...,Al Khazna Secondary School - B,97,96,96,NaN,5,2009-06-27,NaN,NaN,7.0
14460,100032768,NaN,Feda,Hussein,Feda M.A. Fayyad Hussein,فداء (محمد امجد) فياض حسين,F,A,201320.0,Inactive due to Graduation,...,DAR AL ELOOM PVT SCH.- G/ AUH,95.8,96,98,NaN,6.5,2009-12-19,NaN,NaN,7.0
14484,100035189,NaN,Waffa,Fadol,Waffa Badraldin Mohmed Fadol,وفاء بدر الدين محمد فضل,F,A,201420.0,Inactive due to Graduation,...,MRAIJIB GIRLS SCH. FOR SEC.,97.8,96,99,NaN,6.5,2011-01-08,NaN,NaN,8.0
14525,100033711,NaN,Sara,Bazhair,Sara Khaled Abdulla Bazhair,ساره خالد عبدالله سالم سعيد بازهير,F,A,201410.0,Inactive due to Graduation,...,AL SHAHAMA SCHOOL -F,84.5,93,85,NaN,6,2010-01-09,NaN,NaN,7.0
14572,100036765,NaN,Mohammad Ather,Ali,Mohammad Ather Rana Ali Ali,محمد اطهر رانا علي أصغر,M,A,201420.0,Inactive due to Graduation,...,OUR OWN ENGLISH PVT.SCH-B/AIN,NaN,A,A+,NaN,NaN,NaT,NaN,NaN,7.0

In [37]:
df_student_master_EID.to_excel("C:/Users/prabhjotsingh3/OneDrive - KPMG/Documents/2021 Projects/Khalifa University/Project/Analysis/Emirates ID Length.xlsx")

### 1.1.6 Passport

In [41]:
df_student_master_Passport = df_student_master[(df_student_master['STUDENT_STATUS'] == 'Active') & (df_student_master['PASSPORT_ID'] == "NULL")]

In [42]:
df_student_master_Passport

Empty DataFrame
Columns: [ID, NAPO_ID, FIRST_NAME, LAST_NAME, FULL_NAME, ARABIC_NAME, GENDER, CAMPUS, MAX_TERM, STUDENT_STATUS, CURRENT_TERM_ENROLLMENT_STATUS, MAX_TERM_ENROLLMENT_STATUS, MAX_TERM_ENROLLED_WITHDR_DATE, PROGRAM, COURSES, MAJOR, CONCENTRATION, MINOR, STUDENT_LEVEL, COLLEGE, CGPA, PASSPORT_ID, PASSPORT_EXP_DATE, EMIRATES_ID, BIRTH_DATE, SCHOOL_NAME, SCHOOL_AVG, HIGH_SCHOOL_ENGL, HIGH_SCHOOL_MATH, HIGH_SCHOOL_ARAB, IELTS_OVERALL, ELTS_TEST_DATE, EMTH, EMEN, Length]
Index: []

[0 rows x 35 columns]

In [43]:
df_student_master['Passport_Length'] = df_student_master['PASSPORT_ID'].str.len()

In [44]:
df_student_master['Passport_Length']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
16395    9.0
16396    9.0
16397    9.0
16398    9.0
16399    9.0
Name: Passport_Length, Length: 16400, dtype: float64

In [48]:
df_student_master_Passport = df_student_master[(df_student_master['STUDENT_STATUS'] == 'Active') & (df_student_master['Passport_Length'] < 7)]

In [49]:
df_student_master_Passport

,ID,NAPO_ID,FIRST_NAME,LAST_NAME,FULL_NAME,ARABIC_NAME,GENDER,CAMPUS,MAX_TERM,STUDENT_STATUS,...,SCHOOL_AVG,HIGH_SCHOOL_ENGL,HIGH_SCHOOL_MATH,HIGH_SCHOOL_ARAB,IELTS_OVERALL,ELTS_TEST_DATE,EMTH,EMEN,Length,Passport_Length
12633,100039053,NaN,Alyazyah,Alsuwaidi,Alyazyah Ahmed Saeed Binshaheen Alsuwaidi,اليازية أحمد بن شاهين السويدي,F,NaN,202143.0,Active,...,90,NaN,NaN,NaN,7.5,2012-04-12,NaN,NaN,NaN,6.0

In [51]:
df_student_master_Passport.to_excel("C:/Users/prabhjotsingh3/OneDrive - KPMG/Documents/2021 Projects/Khalifa University/Project/Analysis/Passport Length.xlsx")

## 1.2 Admission Criteria

In [135]:
df_student_master_EID_2 = df_student_master[df_student_master.duplicated(['ID'])]

In [136]:
df_student_master_EID_2

Empty DataFrame
Columns: [ID, NAPO_ID, FIRST_NAME, LAST_NAME, FULL_NAME, ARABIC_NAME, GENDER, CAMPUS, MAX_TERM, STUDENT_STATUS, CURRENT_TERM_ENROLLMENT_STATUS, MAX_TERM_ENROLLMENT_STATUS, MAX_TERM_ENROLLED_WITHDR_DATE, PROGRAM, COURSES, MAJOR, CONCENTRATION, MINOR, STUDENT_LEVEL, COLLEGE, CGPA, PASSPORT_ID, PASSPORT_EXP_DATE, EMIRATES_ID, BIRTH_DATE, SCHOOL_NAME, SCHOOL_AVG, HIGH_SCHOOL_ENGL, HIGH_SCHOOL_MATH, HIGH_SCHOOL_ARAB, IELTS_OVERALL, ELTS_TEST_DATE, EMTH, EMEN, Length, Passport_Length, Today]
Index: []

[0 rows x 37 columns]

# 2. Student Attendance

## 2.1 Student Attendance as per Policy

In [97]:
##import master data

df_student_attendance = pd.read_excel("C:/Users/prabhjotsingh3/OneDrive - KPMG/Documents/2021 Projects/Khalifa University/Project/Data/Student Attendance Data.xlsx")

In [98]:
df_student_attendance.head()

,TERM_CODE,COURSE,CRN,DIVISION,COURSE_TITLE,FACULTY_ID,FACULTY_NAME,CAMPUS,STUDENT_ID,STUDENT_NAME,REG_STATUS,TOTAL_ABSENCES,TOTAL_ATTENDED
0,202142,MDBS705,40006,Medicine and Health Sciences,Gastrointestinal System,100052699.0,Eman Alefishat,A,100040115,Jawaher Ahmed Kareem Ahmed Alblooshi,RE,0,20
1,202142,MDBS705,40006,Medicine and Health Sciences,Gastrointestinal System,100052699.0,Eman Alefishat,A,100041430,Sherooq Hamdan Moosa Ali Karam,RE,1,19
2,202142,MDBS705,40006,Medicine and Health Sciences,Gastrointestinal System,100052699.0,Eman Alefishat,A,100041700,Fatima Omar Ahmed Ba Fakih,RE,0,20
3,202142,MDBS705,40006,Medicine and Health Sciences,Gastrointestinal System,100052699.0,Eman Alefishat,A,100042658,Ali Saeed Mohammed Salem Alshehhi,RE,1,19
4,202142,MDBS705,40006,Medicine and Health Sciences,Gastrointestinal System,100052699.0,Eman Alefishat,A,100042706,Dana Khamis Abdulla Jamaan Altamimi,RE,0,20

In [99]:
df_student_attendance['Total Classes'] = df_student_attendance["TOTAL_ABSENCES"]+df_student_attendance["TOTAL_ATTENDED"]

In [100]:
df_student_attendance['Absence Percentage'] = (df_student_attendance['TOTAL_ABSENCES']/df_student_attendance['Total Classes'])*100

In [101]:
df_student_attendance_exception = df_student_attendance[(df_student_attendance['Absence Percentage']>20) & (df_student_attendance['REG_STATUS']=="RE")]

In [102]:
df_student_attendance_exception

,TERM_CODE,COURSE,CRN,DIVISION,COURSE_TITLE,FACULTY_ID,FACULTY_NAME,CAMPUS,STUDENT_ID,STUDENT_NAME,REG_STATUS,TOTAL_ABSENCES,TOTAL_ATTENDED,Total Classes,Absence Percentage
58,202142,MDBS702,40007,Medicine and Health Sciences,Hematopoietic&Lymphoreticular,100058162.0,Ahmad AlDuaij,A,100058320,Fatima Salman Abdulla,RE,4,11,15,26.666667
75,202142,MDBS706,40008,Medicine and Health Sciences,Endocrine System,100053903.0,Sabina Semiz,A,100058074,Manal Mohammed Smail,RE,3,9,12,25.000000
81,202142,MDBS706,40008,Medicine and Health Sciences,Endocrine System,100053903.0,Sabina Semiz,A,100058278,Adedayo Adegbile,RE,3,9,12,25.000000
425,202110,MEEN360,11340,Mechanical Engineering,Computational Methods for Mech,100037414.0,Anas Alazzam,A,100045384,Khilad Abdulbari Abdulla Saeed Almenhali,RE,5,19,24,20.833333
551,202110,ECCE221,11274,Electrical Engr & Computer Sci,Electric Circuits I,100045794.0,Khalid Al Hammadi,A,100043118,Omar Abdulla Omar Abdulla Mukhayer,RE,6,20,26,23.076923
580,202110,ECCE316,11276,Electrical Engr & Computer Sci,Microprocessor Systems,100035100.0,Baker Mohammad,A,100042369,Salma Khalil Abdulla Hassan Alhosani,RE,6,20,26,23.076923
933,202110,STEM002,11281,PREP,STEM 2,100020363.0,Yousef Abosalem,A,100059975,Mohamed Ziad Ali Othman Almahri,RE,27,101,128,21.093750
1516,202110,MEEN741,11022,Mechanical Engineering,Advanced Conduction and Rad.,100045910.0,Mohamed Ali,H,100059855,Kamran Mukhtar Ahmed Mahboob,RE,8,18,26,30.769231
2254,202110,ECCE323,11090,Electrical Engr & Computer Sci,Feedback Control Systems,100045802.0,Ahmed Al Durra,A,100052246,Khawla Mohamed Hasan Ali AlMarzooqi,RE,6,20,26,23.076923
2288,202110,ECCE425,11094,Electrical Engr & Computer Sci,Power Sys. Stability & Control,100041087.0,Bashar Zahawi,A,100052359,Hasan Fahmi Taha Al-ssaqaf,RE,6,20,26,23.076923
2931,202142,MDPS701,40001,Medicine and Health Sciences,Transitions II,100053950.0,Jennie Lou,A,100058074,Manal Mohammed Smail,RE,2,4,6,33.333333
2937,202142,MDPS701,40001,Medicine and Health Sciences,Transitions II,100053950.0,Jennie Lou,A,100058278,Adedayo Adegbile,RE,2,4,6,33.333333
2943,202142,MDPS701,40001,Medicine and Health Sciences,Transitions II,100053950.0,Jennie Lou,A,100058307,Kumarendran Balachandran Balachandran,RE,3,3,6,50.000000
2947,202142,MDPS701,40001,Medicine and Health Sciences,Transitions II,100053950.0,Jennie Lou,A,100058632,Noor Mubarak Alkalbani,RE,5,1,6,83.333333
2948,202142,MDPS701,40001,Medicine and Health Sciences,Transitions II,100053950.0,Jennie Lou,A,100052937,Mariam Haitham Al Nweran,RE,2,4,6,33.333333
2962,202142,MDBS701,40002,Medicine and Health Sciences,Cardiovascular&Respiratory Sys,100052590.0,Ali Khraibi,A,100058074,Manal Mohammed Smail,RE,9,24,33,27.272727
2968,202142,MDBS701,40002,Medicine and Health Sciences,Cardiovascular&Respiratory Sys,100052590.0,Ali Khraibi,A,100058278,Adedayo Adegbile,RE,11,22,33,33.333333
3051,202142,MDBS704,40005,Medicine and Health Sciences,Musculoskeletal Systems,100057440.0,Natalie Niekerk,A,100053253,Fatima Matar Alhemeiri,RE,5,15,20,25.000000
5766,202110,MATH204,10290,Math,Linear Algebra,100058347.0,MOHAMED AMINE KHAMSI,A,100045346,Faisal Khalid Mohamed Altalay Al Ali,RE,6,20,26,23.076923
6502,202110,BUSS322,11349,Humanities & Social Sciences,F. of Innov.& Entrepreneurship,100045656.0,Alliya Anderson,A,100045871,Zayed Ali Aljaberi,RE,5,19,24,20.833333
6505,202110,BUSS322,11349,Humanities & Social Sciences,F. of Innov.& Entrepreneurship,100045656.0,Alliya Anderson,A,100041496,Amal Mubarak Tarish Ahmed Alqubaisi,RE,5,19,24,20.833333
7747,202110,BIOL101,10818,Biology,Fundamentals of Biology,100057464.0,Khawlah Athamneh,A,100045928,Mohammed Sultan Mutaab Alnekhaira Alketbi,RE,8,31,39,20.512821
9878,202110,BMED351,10383,Biomedical Engineering,Biomedical Circuits & Signals,100036235.0,Ahsan Habib Khandoker,A,100044941,Salama Sultan Rashed Ali Alshamsi,RE,7,19,26,26.923077
10196,202110,STEM002,10893,PREP,STEM 2,100050008.0,Elias Zikkos,A,100061207,Hamdan Saeed Tahnoon Saqer Alnahyan,RE,26,103,129,20.155039
10497,202110,ECCE230,11311,Electrical Engr & Computer Sci,Object-Oriented Programming,100058254.0,Divya Velayudhan,A,100044320,Hessa Saeed Abdulla Towayer Alsuwaidi,RE,3,10,13,23.076923
10877,202110,ECCE200,10403,Electrical Engr & Computer Sci,Fundamentals Electronic Sys.,100035614.0,Ahmed Altunaiji,A,100049771,Abdulaziz Ahmed Salman Salem Alhanaee,RE,6,20,26,23.076923
11984,202141,MDBS603,40004,Medicine and Health Sciences,Intro.to Physiology&Immunology,100052590.0,Ali Khraibi,A,100059796,Afraa Hasan Alhajeri,RE,2,5,7,28.571429
12019,202141,MDBS603,40004,Medicine and Health Sciences,Intro.to Physiology&Immunology,100052590.0,Ali Khraibi,A,100058324,Sara Ahmad El Moussa,RE,5,2,7,71.428571
12328,202110,BUSS301,10420,Humanities & Social Sciences,Corporate Leadership & HRM,100020371.0,Valentine Moran,A,100044454,Hanein Sulaiman Saeed Mohamed Alhashmi,RE,6,20,26,23.076923
13137,202110,HUMA140,10454,Humanities & Social Sciences,Introduction to Psychology,100050001.0,Michael Babula,A,100042573,Obaid Abdulrahman Mullabakhsh Ghulam,RE,9,29,38,23.684211
13447,202110,CHEG412,11107,Chemical Engineering,Process Dynamics & Control,100045788.0,Jorge Rodriguez,H,100042743,Maitha Salem Alshaer M. Almurooshed,RE,6,20,26,23.076923
13991,202110,HUMA102,10472,Humanities & Social Sciences,Islamic Culture,100046198.0,Abdulla AlBusaeedi,A,100044920,Ali Abdalla Mohamed Bin Awwash Alyammahi,RE,8,30,38,21.052632
14309,202110,MATH243,10963,Math,Prob. & Statistical Inference,100046330.0,Mohamed Jouini,A,100044862,Saoud Essa Ali Mahmoud Shaif,RE,10,16,26,38.461538
14485,202110,MATH111,11261,Math,Calculus I,100046214.0,Khaled Dib,A,100059322,Husain Fuad Murtada Husain Taleb,RE,11,41,52,21.153846
16250,202110,ECCE444,11283,Electrical Engr & Computer Sci,Computer Security,100020344.0,Hadi Otrok,A,100043118,Omar Abdulla Omar Abdulla Mukhayer,RE,3,10,13,23.076923
16417,202110,ENGR695,10117,Engineering Department,Seminar in Research Methods,100035086.0,Mahmoud Al Qutayri,A,100045872,Anees Basheer Peringal,RE,3,10,13,23.076923
17143,202110,MEEN360,10557,Mechanical Engineering,Computational Methods for Mech,100046234.0,Yap Fatt,A,100044732,Ebtehal Juma Hussain Nasser Almansoori,RE,6,20,26,23.076923
18989,202110,ECCE423,11280,Electrical Engr & Computer Sci,Power Electronics,100041849.0,Tarek El Fouly,A,100052146,Mariam Hussain Ali Meaid Alzahrani,RE,7,19,26,26.923077
18990,202110,ECCE423,11280,Electrical Engr & Computer Sci,Power Electronics,100041849.0,Tarek El Fouly,A,100042573,Obaid Abdulrahman Mullabakhsh Ghulam,RE,12,14,26,46.153846

In [86]:
df_student_attendance_exception.to_excel("C:/Users/prabhjotsingh3/OneDrive - KPMG/Documents/2021 Projects/Khalifa University/Project/Analysis/Attendance Exception.xlsx")

# 3. Student Courses

In [103]:
## import master data

df_student_courses = pd.read_excel("C:/Users/prabhjotsingh3/OneDrive - KPMG/Documents/2021 Projects/Khalifa University/Project/Data/Student Course Data.xlsx")

In [104]:
df_student_courses

,TERM_CODE,CAMPUS,CRS_DIVISION_NAME,CRN,CRS_ID,COURSE_TITLE,CREDIT_HOURS,INSTRUCTOR_INDICATOR,RESPONSIBILITY_PCT,CONTACT_HOURS,...,SCHEDULE_END_TIME,NO_HOLD,SECT_WAITLIST_MAX_ENRL,MAX_ENROLLMENT_ALLOWED_CRN,NBR_REGISTERED_STUDENTS_CRN,SUN,MON,TUE,WED,THU
0,202142,A,Medicine and Health Sciences,40006,MDBS705,Gastrointestinal System,4.0,Primary,100.0,4.0,...,1200.0,0,0,40,29,Y,Y,Y,Y,NaN
1,202142,A,Medicine and Health Sciences,40007,MDBS702,Hematopoietic&Lymphoreticular,3.0,Primary,100.0,3.0,...,1200.0,0,0,40,29,Y,Y,Y,Y,NaN
2,202142,A,Medicine and Health Sciences,40008,MDBS706,Endocrine System,3.0,Primary,100.0,3.0,...,1200.0,0,0,40,29,Y,Y,Y,Y,NaN
3,202142,A,Medicine and Health Sciences,40009,MDBS707,Reproductive System,3.0,Primary,100.0,3.0,...,1200.0,0,0,40,29,Y,Y,Y,Y,NaN
4,202142,A,Medicine and Health Sciences,40010,MDBS709,Nervous System,6.0,Primary,100.0,6.0,...,1200.0,0,0,40,29,Y,Y,Y,Y,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2290,202110,A,Civil Engineering,10681,CIVE470,Foundation Engineering,4.0,Primary,100.0,3.0,...,1150.0,0,0,36,26,Y,NaN,Y,NaN,NaN
2291,202110,A,Biomedical Engineering,11361,BMED491,Independent Study III,NaN,Primary,0.0,NaN,...,NaN,0,0,1,1,NaN,NaN,NaN,NaN,NaN
2292,202110,A,Arts& Science,11367,SCIE795,PhD Written Qualifying Examina,0.0,Primary,100.0,0.0,...,NaN,0,0,1,2,NaN,NaN,NaN,NaN,NaN
2293,202120,H,Mechanical Engineering,21007,MSEN712,Imaging of Materials: Scan. El,3.0,Primary,100.0,3.0,...,1215.0,0,0,20,0,Y,NaN,Y,NaN,NaN
2294,202120,H,Mechanical Engineering,21008,MSEN740,Advances in Investigation of I,3.0,Primary,100.0,3.0,...,1515.0,0,0,20,0,NaN,Y,NaN,Y,NaN

## 3.1 Student Max Enrollment

In [105]:
df_student_courses['Above Max Enrollment'] = df_student_courses['MAX_ENROLLMENT_ALLOWED_CRN'] - df_student_courses['NBR_REGISTERED_STUDENTS_CRN']

In [106]:
df_student_courses_max = df_student_courses[df_student_courses['Above Max Enrollment'] <0]

In [108]:
df_student_courses_max

,TERM_CODE,CAMPUS,CRS_DIVISION_NAME,CRN,CRS_ID,COURSE_TITLE,CREDIT_HOURS,INSTRUCTOR_INDICATOR,RESPONSIBILITY_PCT,CONTACT_HOURS,...,NO_HOLD,SECT_WAITLIST_MAX_ENRL,MAX_ENROLLMENT_ALLOWED_CRN,NBR_REGISTERED_STUDENTS_CRN,SUN,MON,TUE,WED,THU,Above Max Enrollment
81,202110,A,Humanities & Social Sciences,11315,HUMA102,Islamic Culture,3.0,Primary,100.0,3.0,...,0,0,30,41,Y,NaN,Y,NaN,NaN,-11
117,202110,A,Electrical Engr & Computer Sci,11276,ECCE316,Microprocessor Systems,4.0,Primary,100.0,3.0,...,0,0,25,26,NaN,Y,NaN,Y,NaN,-1
122,202110,A,English,11339,ENGL101,Academic English I,3.0,Primary,100.0,3.0,...,0,0,0,25,Y,NaN,Y,NaN,NaN,-25
193,202110,A,Math,11260,MATH111,Calculus I,4.0,Primary,100.0,4.0,...,0,0,30,38,Y,Y,Y,Y,NaN,-8
471,202110,A,Areospace Engineering,11070,AERO201,Engineering Dynamics,3.0,Primary,33.0,3.0,...,0,0,18,19,Y,NaN,Y,NaN,NaN,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2241,202110,A,Physics,10207,PHYS122,University Physics 2,0.0,Primary,0.0,2.0,...,0,0,24,25,NaN,NaN,NaN,Y,NaN,-1
2268,202110,A,Areospace Engineering,10660,AERO465,Space Dynamics and Control,0.0,Primary,0.0,NaN,...,0,0,18,21,NaN,NaN,Y,NaN,NaN,-3
2269,202110,A,Areospace Engineering,10661,AERO465,Space Dynamics and Control,0.0,Primary,0.0,NaN,...,0,0,18,19,Y,NaN,NaN,NaN,NaN,-1
2288,202110,A,Civil Engineering,10679,CIVE370,Intro. to Environmental Engr.,0.0,Primary,100.0,NaN,...,0,0,10,11,NaN,NaN,NaN,Y,NaN,-1
2292,202110,A,Arts& Science,11367,SCIE795,PhD Written Qualifying Examina,0.0,Primary,100.0,0.0,...,0,0,1,2,NaN,NaN,NaN,NaN,NaN,-1

In [109]:
df_student_courses_max.to_excel('C:/Users/prabhjotsingh3/OneDrive - KPMG/Documents/2021 Projects/Khalifa University/Project/Analysis/Above Max Enrollment.xlsx')

## 3.2 Scheduling of Courses

In [110]:
df_student_courses_schedule = df_student_courses

In [130]:
df_student_courses_schedule_exception = df_student_courses_schedule[(df_student_courses_schedule.duplicated(['INSTRUCTOR_NAME','SCHEDULE_START_TIME','SCHEDULE_END_TIME','SUN']) | 
                                                                    df_student_courses_schedule.duplicated(['INSTRUCTOR_NAME','SCHEDULE_START_TIME','SCHEDULE_END_TIME','MON']) |
                                                                    df_student_courses_schedule.duplicated(['INSTRUCTOR_NAME','SCHEDULE_START_TIME','SCHEDULE_END_TIME','TUE']) |
                                                                    df_student_courses_schedule.duplicated(['INSTRUCTOR_NAME','SCHEDULE_START_TIME','SCHEDULE_END_TIME','WED']) |
                                                                    df_student_courses_schedule.duplicated(['INSTRUCTOR_NAME','SCHEDULE_START_TIME','SCHEDULE_END_TIME','THU']))
                                                                    & df_student_courses_schedule['SUN'].notna()]

In [131]:
df_student_courses_schedule_exception

,TERM_CODE,CAMPUS,CRS_DIVISION_NAME,CRN,CRS_ID,COURSE_TITLE,CREDIT_HOURS,INSTRUCTOR_INDICATOR,RESPONSIBILITY_PCT,CONTACT_HOURS,...,NO_HOLD,SECT_WAITLIST_MAX_ENRL,MAX_ENROLLMENT_ALLOWED_CRN,NBR_REGISTERED_STUDENTS_CRN,SUN,MON,TUE,WED,THU,Above Max Enrollment
13,202110,A,PREP,11250,STEM002,STEM 2,12.0,Primary,100.0,12.0,...,0,0,48,24,Y,NaN,Y,NaN,NaN,24
18,202110,A,PREP,11250,STEM002,STEM 2,12.0,Primary,100.0,12.0,...,0,0,48,24,Y,NaN,NaN,NaN,NaN,24
20,202110,A,PREP,11250,STEM002,STEM 2,12.0,Primary,100.0,12.0,...,0,0,48,24,Y,NaN,NaN,NaN,NaN,24
24,202110,A,PREP,11251,ENGL002,Preparatory English 2,14.0,Primary,100.0,14.0,...,0,0,20,6,Y,NaN,NaN,NaN,NaN,14
28,202110,A,PREP,11251,ENGL002,Preparatory English 2,14.0,Primary,100.0,14.0,...,0,0,20,6,Y,NaN,NaN,NaN,NaN,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2274,202110,A,Civil Engineering,10665,CIVE200,Statics,3.0,Primary,33.0,3.0,...,0,0,3,2,Y,NaN,Y,NaN,NaN,1
2275,202110,A,Civil Engineering,10666,CIVE200,Statics,3.0,Primary,33.0,3.0,...,0,0,6,5,Y,NaN,Y,NaN,NaN,1
2276,202110,A,Civil Engineering,10667,CIVE200,Statics,3.0,Primary,33.0,3.0,...,0,0,5,4,Y,NaN,Y,NaN,NaN,1
2278,202110,A,Civil Engineering,10669,CIVE201,Engineering Dynamics,3.0,Primary,33.0,3.0,...,0,0,7,4,Y,NaN,Y,NaN,NaN,3
2279,202110,A,Civil Engineering,10670,CIVE201,Engineering Dynamics,3.0,Primary,33.0,3.0,...,0,0,9,4,Y,NaN,Y,NaN,NaN,5

In [132]:
df_student_courses_schedule_exception.to_excel("C:/Users/prabhjotsingh3/OneDrive - KPMG/Documents/2021 Projects/Khalifa University/Project/Analysis/Student Courses.xlsx")

# Human Resources

In [137]:
## import master data

df_employee = pd.read_excel("C:/Users/prabhjotsingh3/OneDrive - KPMG/Documents/2021 Projects/Khalifa University/Project/Data/HR Master Data.xlsx")

In [138]:
df_employee

,EmpNo,PersonID,EmployeeName,EmployeeArabicName,Position,PositionName,PositionCode,PositionAR,Job,OrgUnit,...,Department,DepartmentAR,Division,DivisionAR,Sector,SectorAR,College,VPID,VPName,Contract_End
0,100043305,308866,Shaima Ahmad Abdulaziz Ahli,شيماء احمد عبدالعزيز اهلى,STAFF.2020208,STAFF,2020208,موظف,Specialist,Off Chart - Marketing and Communication,...,Marketing and Communication,إدارة التسويق والاتصال,Office of the Executive Vice President,مكتب نائب الرئيس التنفيذي,President Office,مكتب الرئيس,NaN,KU100,Arif Sultan Al Hammadi,2021-12-31
1,100046247,309197,Chong Un Pyon,تشونج اون بيون,Adjunct Faculty.1062,Adjunct Faculty,1062,Adjunct Faculty,Adjunct Faculty,Humanities and Social Sciences,...,Humanities and Social Sciences,العلوم الإنسانية والإجتماعية,College of Arts and Science,كلية الاداب و العلوم,Academic Sector,القطاع الأكاديمي,College of Arts and Science,KU103,David Sheehan,2021-12-31
2,100046248,309466,Ayoung Sohn,ايونج سوهن,Adjunct Faculty.1061,Adjunct Faculty,1061,Adjunct Faculty,Adjunct Faculty,Humanities and Social Sciences,...,Humanities and Social Sciences,العلوم الإنسانية والإجتماعية,College of Arts and Science,كلية الاداب و العلوم,Academic Sector,القطاع الأكاديمي,College of Arts and Science,KU103,David Sheehan,2021-12-31
3,100049466,778886,Akihide Hidaka,أكيهايد هيديكا,Adjunct Faculty.878,Adjunct Faculty,878,Adjunct Faculty,Adjunct Faculty,Nuclear Engineering Institute,...,Nuclear Engineering Institute,الهندسة النووية,College of Engineering,كلية الهندسة,Academic Sector,القطاع الأكاديمي,College of Engineering,KU218,Hassan Reda Barada,2021-12-21
4,100049994,819498,Riyazdheen Kaffar,رياضدين كفار,Driver.5042,Driver,5042,سائق,Driver,College of Medicine & Health Sciences,...,College of Medicine & Health Sciences,كلية الطب,College of Medicine & Health Sciences,كلية الطب,Academic Sector,القطاع الأكاديمي,College of Medicine & Health Sciences,KU104,John Aubrey Rock,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1242,PI4182,625335,Sawsan Hussain Mohammadi,سوسن حسين محمدي,STAFF.2020263,STAFF,2020263,موظف,Specialist,"Off Chart - Administration, Facilities and EHS",...,"Administration, Facilities and EHS",إدارة الشؤون الإدارية والمرافق ، البيئة و الص...,"Administration, Facilities and EHS",إدارة الشؤون الإدارية والمرافق ، البيئة و الص...,Executive Management Sector,NaN,NaN,KU947,Adnan Jasem Yaqoob AlMansoori,2021-12-31
1243,PI4204,625079,Basem Al Shaabi,باسم سيف محمد الشعبي,STAFF.2020058,STAFF,2020058,موظف,Specialist,Off Chart - Academic and Student Services,...,Academic and Student Services,قطاع الخدمات الطلابية والاكاديميه,Academic and Student Services,قطاع الخدمات الطلابية والاكاديميه,Academic and Student Services,قطاع الخدمات الطلابية والاكاديميه,NaN,KU105,Ahmed Al Shoaibi,2021-12-31
1244,PI4223,624922,Ayesha Abdulla Al Zaabi,عائشة عبدالله سليمان الزعابي,STAFF.2020097,STAFF,2020097,موظف,Specialist,"Off Chart - Administration, Facilities and EHS",...,"Administration, Facilities and EHS",إدارة الشؤون الإدارية والمرافق ، البيئة و الص...,"Administration, Facilities and EHS",إدارة الشؤون الإدارية والمرافق ، البيئة و الص...,Executive Management Sector,NaN,NaN,KU947,Adnan Jasem Yaqoob AlMansoori,2021-12-31
1245,PI4227,625073,Abdulla Al Hosani,عبدالله سليمان عبدالله الحوسني,STAFF.2020098,STAFF,2020098,موظف,Specialist,"Off Chart - Administration, Facilities and EHS",...,"Administration, Facilities and EHS",إدارة الشؤون الإدارية والمرافق ، البيئة و الص...,"Administration, Facilities and EHS",إدارة الشؤون الإدارية والمرافق ، البيئة و الص...,Executive Management Sector,NaN,NaN,KU947,Adnan Jasem Yaqoob AlMansoori,2021-12-31
1246,PI4283,625006,Salem Al Jaberi,سالم منيف سالم الجابري,STAFF.2020060,STAFF,2020060,موظف,Specialist,Off Chart - Academic and Student Services,...,Academic and Student Services,قطاع الخدمات الطلابية والاكاديميه,Academic and Student Services,قطاع الخدمات الطلابية والاكاديميه,Academic and Student Services,قطاع الخدمات الطلابية والاكاديميه,NaN,KU105,Ahmed Al Shoaibi,2021-12-31

## 3.1 Duplicate Emirates ID

In [140]:
df_employee_EmiratesID = df_employee[df_employee.duplicated(['EmiratesID'])]

In [141]:
df_employee_EmiratesID

,EmpNo,PersonID,EmployeeName,EmployeeArabicName,Position,PositionName,PositionCode,PositionAR,Job,OrgUnit,...,Department,DepartmentAR,Division,DivisionAR,Sector,SectorAR,College,VPID,VPName,Contract_End
12,KU1002,1543032,Deepak Puthal,ديباك باثول,Assistant Professor.1010503,Assistant Professor,1010503,أستاذ جامعي مساعد,Faculty,Electrical Engineering and Computer Science,...,Electrical Engineering and Computer Science,الهندسة الكهربائية والحاسوب,College of Engineering,كلية الهندسة,Academic Sector,القطاع الأكاديمي,College of Engineering,KU218,Hassan Reda Barada,2024-10-13
13,KU1003,1531630,Jiju Antony,جيجو و أنتوني,Professor.1011098,Professor,1011098,استاذ جامعي,Professor,Industrial and Systems Engineering,...,Industrial and Systems Engineering,الهندسة الصناعية و النظم,College of Engineering,كلية الهندسة,Academic Sector,القطاع الأكاديمي,College of Engineering,KU218,Hassan Reda Barada,2024-05-31
16,KU1006,1546534,Omar Awartani,عمر عورتاني,Assistant Professor.1010636,Assistant Professor,1010636,أستاذ جامعي مساعد,Faculty,Mechanical Engineering,...,Mechanical Engineering,الهندسة الميكانيكية,College of Engineering,كلية الهندسة,Academic Sector,القطاع الأكاديمي,College of Engineering,KU218,Hassan Reda Barada,2024-10-23
19,KU1009,1533371,Charalampos Pitsalidis,تشارالامبوس بيتساليديس تشارالامبوس بيتساليديس,Assistant Professor.1011029,Assistant Professor,1011029,أستاذ جامعي مساعد,Assistant Professor,Physics,...,Physics,علوم الفيزياء,College of Arts and Science,كلية الاداب و العلوم,Academic Sector,القطاع الأكاديمي,College of Arts and Science,KU103,David Sheehan,2024-05-31
20,KU1010,1531453,Giorgio Consigli,جورجيو كونسيجلي جورجيو كونسيجلي,Associate Professor.1011034,Associate Professor,1011034,أستاذ جامعي مشارك,Associate Professor,Mathematics,...,Mathematics,علوم الرياضيات,College of Arts and Science,كلية الاداب و العلوم,Academic Sector,القطاع الأكاديمي,College of Arts and Science,KU103,David Sheehan,2024-05-31
22,KU1012,1533111,Hemin Koyi,هيمن كويي هيمن كويي,Professor.1010496,Professor,1010496,استاذ جامعي,Faculty,Earth Science,...,Earth Science,علوم الأرض,College of Arts and Science,كلية الاداب و العلوم,Academic Sector,القطاع الأكاديمي,College of Arts and Science,KU103,David Sheehan,2024-05-31
23,KU1013,1531470,Kheirat Habbal,خيرات الحبال,Assistant Professor.1050507,Assistant Professor,1050507,أستاذ جامعي مساعد,Assistant Professor,Family Medicine,...,Family Medicine,Family Medicine,College of Medicine & Health Sciences,كلية الطب,Academic Sector,القطاع الأكاديمي,College of Medicine & Health Sciences,NaN,NaN,2024-07-31
25,KU1015,1542145,Raquel Adelina Drewett,راكيل اديلينا دريويت,"Manager, Internal Awards & Collaborations.1010947","Manager, Internal Awards & Collaborations",1010947,"Manager, Internal Awards & Collaborations",Manager,University Sponsored Research,...,University Sponsored Research,قسم رعاية البحوث,Research and Development,قطاع البحوث والتطوير,Research and Development,قطاع البحوث والتطوير,NaN,KU106,Steven Wesley Griffiths,2024-10-11
27,KU1017,1543375,Mathieu Jean Bernard Martins,ماثيو جين بيرنارد مارتنز,CORE Lab Engineer.1010976,CORE Lab Engineer,1010976,مهندس مختبر,Lab Engineer,Core Labs Support,...,Research Laboratories,مختبرات البحوث,Research and Development,قطاع البحوث والتطوير,Research and Development,قطاع البحوث والتطوير,NaN,NaN,NaN,2024-10-17
52,KU1040,1547748,Diane Bryant Presley,ديان بريانت بريسلي,"Director, Operations and Support.5043","Director, Operations and Support",5043,"Director, Operations and Support",Director,College of Medicine & Health Sciences,...,College of Medicine & Health Sciences,كلية الطب,College of Medicine & Health Sciences,كلية الطب,Academic Sector,القطاع الأكاديمي,College of Medicine & Health Sciences,KU104,John Aubrey Rock,2024-10-31
605,KU500358,1541516,Deepa Kishor Dumbre,ديبا كيشور دومبر,Research Scientist.3823,Research Scientist,3823,باحث علمي,Research Scientist,Temp Researcher Internal Fund,...,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Research and Development,قطاع البحوث والتطوير,NaN,KU106,Steven Wesley Griffiths,2023-06-30
618,KU500381,1025595,Jisha Kuttiani Ali,جيشا كوتياني علي,Post Doctoral Fellow.4315,Post Doctoral Fellow,4315,زمالة ما بعد الدكتوراه,Post Doctoral Fellow,Temp Researcher External Fund,...,Temp Researcher External Fund,الأبحاث من المنح الخارجية,Temp Researcher External Fund,الأبحاث من المنح الخارجية,Research and Development,قطاع البحوث والتطوير,NaN,KU106,Steven Wesley Griffiths,2022-06-27
685,KU500493,1515591,Brian David Campos,بريان دافيد كامبوس,Research Associate.3796,Research Associate,3796,باحث مشارك,Research Associate,Temp Researcher Internal Fund,...,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Research and Development,قطاع البحوث والتطوير,NaN,KU106,Steven Wesley Griffiths,2022-10-31
691,KU500500,1513304,Lydia Nesma Aitbelkacem,ليديا نسمه ايت بلقاسم,Research Assistant.3791,Research Assistant,3791,باحث مساعد,Research Assistant,Temp Researcher Internal Fund,...,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Research and Development,قطاع البحوث والتطوير,NaN,KU106,Steven Wesley Griffiths,2023-06-30
700,KU500511,1539663,Adel Merabet,عادل مرابط,Research Scientist.3553,Research Scientist,3553,باحث علمي,Research Scientist,Temp Researcher Internal Fund,...,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Research and Development,قطاع البحوث والتطوير,NaN,KU106,Steven Wesley Griffiths,2021-12-31
701,KU500512,1515592,Mariam Nagah Rashwan Abdelhamid,مريم نجاح رشوان عبدالحميد,Research Engineer.3814,Research Engineer,3814,مهندس باحث,Research Engineer,Temp Researcher Internal Fund,...,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Research and Development,قطاع البحوث والتطوير,NaN,KU106,Steven Wesley Griffiths,2022-05-02
707,KU500521,1523136,Diana Akmedjanova,ديانا اخميدجاوانا,Post Doctoral Fellow.3827,Post Doctoral Fellow,3827,زمالة ما بعد الدكتوراه,Post Doctoral Fellow,Temp Researcher Internal Fund,...,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Research and Development,قطاع البحوث والتطوير,NaN,KU106,Steven Wesley Griffiths,2022-12-31
708,KU500522,1523035,Gerardo De Jesus Guerrero Pena,جيراردو دى جيسوس جويريرو بينا,Post Doctoral Fellow.3953,Post Doctoral Fellow,3953,زمالة ما بعد الدكتوراه,Post Doctoral Fellow,Temp Researcher Internal Fund,...,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Research and Development,قطاع البحوث والتطوير,NaN,KU106,Steven Wesley Griffiths,2022-06-30
713,KU500527,1541518,Jhansi Bhavani Vuta,جهانشى بهافانى فوتا,Post Doctoral Fellow.3776,Post Doctoral Fellow,3776,زمالة ما بعد الدكتوراه,Post Doctoral Fellow,Temp Researcher Internal Fund,...,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Research and Development,قطاع البحوث والتطوير,NaN,KU106,Steven Wesley Griffiths,2022-12-31
714,KU500528,1539669,Subeesh Meethale Puthukkottu,سوبيش ميثالي بوتوكوتو,Post Doctoral Fellow.4286,Post Doctoral Fellow,4286,زمالة ما بعد الدكتوراه,Post Doctoral Fellow,Temp Researcher Internal Fund,...,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Research and Development,قطاع البحوث والتطوير,NaN,KU106,Steven Wesley Griffiths,2022-12-31
715,KU500530,1540014,Shanavas Shajahan,شانافاس شاجهان,Post Doctoral Fellow.3936,Post Doctoral Fellow,3936,زمالة ما بعد الدكتوراه,Post Doctoral Fellow,Temp Researcher Internal Fund,...,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Research and Development,قطاع البحوث والتطوير,NaN,KU106,Steven Wesley Griffiths,2022-06-30
728,KU500544,1534905,Abdul Rasheed Kadiri Kanakka Pillantakath,عبدالرشيد قادري كاناكا بيلنتاكات,Research Assistant.4227,Research Assistant,4227,باحث مساعد,Research Assistant,Temp Researcher Internal Fund,...,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Research and Development,قطاع البحوث والتطوير,NaN,KU106,Steven Wesley Griffiths,2023-06-30
730,KU500548,1535757,Mohammad Moussa Madine,محمد موسى مدينة,Research Associate.3802,Research Associate,3802,باحث مشارك,Research Associate,Temp Researcher Internal Fund,...,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Research and Development,قطاع البحوث والتطوير,NaN,KU106,Steven Wesley Griffiths,2022-06-30
732,KU500550,1540015,Mohammad Yasir Bhat,محمد ياسر بهات,Post Doctoral Fellow.4151,Post Doctoral Fellow,4151,زمالة ما بعد الدكتوراه,Post Doctoral Fellow,Temp Researcher Internal Fund,...,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Research and Development,قطاع البحوث والتطوير,NaN,KU106,Steven Wesley Griffiths,2022-03-31
733,KU500551,1545963,Radha Kushwaha,رضا كوشواها,Post Doctoral Fellow.4173,Post Doctoral Fellow,4173,زمالة ما بعد الدكتوراه,Post Doctoral Fellow,Temp Researcher Internal Fund,...,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Research and Development,قطاع البحوث والتطوير,NaN,KU106,Steven Wesley Griffiths,2022-01-31
734,KU500552,1540013,Phanindra Kumar Ganivada,بانيندرا كومار جانيفادا,Post Doctoral Fellow.4172,Post Doctoral Fellow,4172,زمالة ما بعد الدكتوراه,Post Doctoral Fellow,Temp Researcher Internal Fund,...,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Research and Development,قطاع البحوث والتطوير,NaN,KU106,Steven Wesley Griffiths,2022-06-30
737,KU500555,1539711,Asif Hussain Chiralil Veeran,عاصف حسين شيراليل فيران,Research Associate.4333,Research Associate,4333,باحث مشارك,Research Associate,Temp Researcher External Fund,...,Temp Researcher External Fund,الأبحاث من المنح الخارجية,Temp Researcher External Fund,الأبحاث من المنح الخارجية,Research and Development,قطاع البحوث والتطوير,NaN,KU106,Steven Wesley Griffiths,2022-09-18
739,KU500557,1547559,Suryasubrahmanyam Kota,سورياسوبرامانييام كوتا,Research Scientist.3276,Research Scientist,3276,باحث علمي,Researcher,Temp Researcher Internal Fund,...,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Research and Development,قطاع البحوث والتطوير,NaN,KU106,Steven Wesley Griffiths,2022-06-30
741,KU500559,1540020,Ahmad Adnan Rashid Al Jarah,احمد عدنان رشيد الجراح,Research Associate.8050010,Research Associate,8050010,باحث مشارك,Research Associate,ARIC,...,ARIC,ARIC,ARIC,ARIC,Research and Development,قطاع البحوث والتطوير,NaN,KU106,Steven Wesley Griffiths,2023-01-31
747,KU500565,1548452,Ahsan Baidar Bakht,احسان بايدرا بخت,Research Associate.4337,Research Associate,4337,باحث مشارك,Research Associate,Temp Researcher External Fund,...,Temp Researcher External Fund,الأبحاث من المنح الخارجية,Temp Researcher External Fund,الأبحاث من المنح الخارجية,Research and Development,قطاع البحوث والتطوير,NaN,KU106,Steven Wesley Griffiths,2021-12-31
748,KU500566,1540993,Joon Ho Lee,جون هو لي,Senior Research Scientist.8040011,Senior Research Scientist,8040011,باحث علمي اول,Senior Research Scientist,ETIC,...,ETIC,ETIC,ETIC,ETIC,Research and Development,قطاع البحوث والتطوير,NaN,KU106,Steven Wesley Griffiths,2022-09-30
756,KU500575,1547555,Cybill Ann Cherian,سيبيل ان شيريان,Research Engineer.4353,Research Engineer,4353,مهندس باحث,Research Engineer,Temp Researcher External Fund,...,Temp Researcher External Fund,الأبحاث من المنح الخارجية,Temp Researcher External Fund,الأبحاث من المنح الخارجية,Research and Development,قطاع البحوث والتطوير,NaN,KU106,Steven Wesley Griffiths,2022-06-30
759,KU500578,1551045,Ghada Alsuhli,غادة السحلي,Post Doctoral Fellow.4161,Post Doctoral Fellow,4161,زمالة ما بعد الدكتوراه,Post Doctoral Fellow,Temp Researcher Internal Fund,...,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Research and Development,قطاع البحوث والتطوير,NaN,KU106,Steven Wesley Griffiths,2023-06-30
760,KU500579,1550196,Nirmal Mukundan Chakkamath Mukundan,نيرمال موكدان شاكامات موكدان,Post Doctoral Fellow.3478,Post Doctoral Fellow,3478,زمالة ما بعد الدكتوراه,Post Doctoral Fellow,Temp Researcher Internal Fund,...,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Research and Development,قطاع البحوث والتطوير,NaN,KU106,Steven Wesley Griffiths,2022-06-30
761,KU500580,1550197,Balasubramoniam Murali Krishna,بالاسوبرامونيام مورالى كريشنا,Post Doctoral Fellow.4174,Post Doctoral Fellow,4174,زمالة ما بعد الدكتوراه,Post Doctoral Fellow,Temp Researcher Internal Fund,...,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Research and Development,قطاع البحوث والتطوير,NaN,KU106,Steven Wesley Griffiths,2023-06-30
764,KU500585,1550191,Mireille Hantouche,ميراى حنتوش,Post Doctoral Fellow.4417,Post Doctoral Fellow,4417,زمالة ما بعد الدكتوراه,Post Doctoral Fellow,Temp Researcher Internal Fund,...,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Research and Development,قطاع البحوث والتطوير,NaN,KU106,Steven Wesley Griffiths,2023-06-30
765,KU500587,1551775,Tariq Rahim,طارق رحيم,Post Doctoral Fellow.4394,Post Doctoral Fellow,4394,زمالة ما بعد الدكتوراه,Post Doctoral Fellow,Temp Researcher Internal Fund,...,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Research and Development,قطاع البحوث والتطوير,NaN,KU106,Steven Wesley Griffiths,2023-06-30
766,KU500590,1551778,Praveen Kumar Muthusamy,برافين كومار موتوسامى,Post Doctoral Fellow.8800109,Post Doctoral Fellow,8800109,زمالة ما بعد الدكتوراه,Post Doctoral Fellow,Temp Researcher Internal Fund,...,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Research and Development,قطاع البحوث والتطوير,NaN,KU106,Steven Wesley Griffiths,2023-06-30
767,KU500591,1550190,Bharat Somra,بهارات سومرا,Research Associate.4182,Research Associate,4182,باحث مشارك,Research Associate,Temp Researcher Internal Fund,...,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Research and Development,قطاع البحوث والتطوير,NaN,KU106,Steven Wesley Griffiths,2022-06-30
768,KU500592,1551777,Ravi Shankar Kumar,رافى شانكار كومار,Post Doctoral Fellow.3779,Post Doctoral Fellow,3779,زمالة ما بعد الدكتوراه,Post Doctoral Fellow,Temp Researcher Internal Fund,...,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Temp Researcher Internal Fund,الأبحات من التمويل الداخلي,Research and Development,قطاع البحوث والتطوير,NaN,KU106,Steven Wesley Griffiths,2022-12-31
1180,KU962,1536144,Lama Omar Dahash Jamhawi,لما عمر دهش جمحاوي,"Manager, Research Compliance and Training.1010293","Manager, Research Compliance and Training",1010293,مدير الامتثال والتدريب للبحوث,Manager,Research Services,...,Research Services,إدارة خدمات البحوث,Research and Development,قطاع البحوث والتطوير,Research and Development,قطاع البحوث والتطوير,NaN,KU106,Steven Wesley Griffiths,2024-09-07
1214,KU996,1530731,Zakia Dimassi,زكية الديماسي,Assistant Professor.1050506,Assistant Professor,1050506,أستاذ جامعي مساعد,Assistant Professor,Pediatrics,...,Pediatrics,Pediatrics,College of Medicine & Health Sciences,كلية الطب,Academic Sector,القطاع الأكاديمي,College of Medicine & Health Sciences,NaN,NaN,2024-07-24

In [143]:
df_employee_EmiratesID.to_excel("C:/Users/prabhjotsingh3/OneDrive - KPMG/Documents/2021 Projects/Khalifa University/Project/Analysis/Duplicate Employeese Emirates ID.xlsx")

In [144]:
df_employee['Length'] = df_employee['EmiratesID'].str.len()

In [145]:
df_employee_EID = df_employee[(df_employee['Length'] < 15) | (df_employee['Length'] > 15)]

In [146]:
df_employee_EID

,EmpNo,PersonID,EmployeeName,EmployeeArabicName,Position,PositionName,PositionCode,PositionAR,Job,OrgUnit,...,DepartmentAR,Division,DivisionAR,Sector,SectorAR,College,VPID,VPName,Contract_End,Length
26,KU1016,1531373,Hatem Samir Issa Haddad,حاتم سمير عيسى حداد,"Senior Auditor, IT and Audit Analytics.1011012","Senior Auditor, IT and Audit Analytics",1011012,مدقق أول,Senior Specialist,Audit and Compliance,...,إدارة التدقيق والامتثال,Executive Office,Executive Office,President Office,مكتب الرئيس,NaN,KU100,Arif Sultan Al Hammadi,2024-08-07,17.0

In [147]:
df_employee_EID.to_excel("C:/Users/prabhjotsingh3/OneDrive - KPMG/Documents/2021 Projects/Khalifa University/Project/Analysis/Invalid Emirates ID.xlsx")

## 3.2 Employee ID

In [149]:
df_employee_employeeID = df_employee[df_employee.duplicated(['EmpNo'])]

In [150]:
df_employee_employeeID

Empty DataFrame
Columns: [EmpNo, PersonID, EmployeeName, EmployeeArabicName, Position, PositionName, PositionCode, PositionAR, Job, OrgUnit, OrgUnitAR, Payroll, Grade, Nationality, ArCountry, NatCat, DateOfBirth, Age, EmailAddress, EmiratesID, MaritalStat, Gender, NearestAirport, Religion, Title, HireDate, ServiceYrs, AdjustedServiceDate, SupervisorNumber, SupervisorName, AssignmentCategory, Section, SectionAR, Department, DepartmentAR, Division, DivisionAR, Sector, SectorAR, College, VPID, VPName, Contract_End, Length]
Index: []

[0 rows x 44 columns]

In [151]:
df_employee_personID = df_employee[df_employee.duplicated(['PersonID'])]

In [152]:
df_employee_personID

Empty DataFrame
Columns: [EmpNo, PersonID, EmployeeName, EmployeeArabicName, Position, PositionName, PositionCode, PositionAR, Job, OrgUnit, OrgUnitAR, Payroll, Grade, Nationality, ArCountry, NatCat, DateOfBirth, Age, EmailAddress, EmiratesID, MaritalStat, Gender, NearestAirport, Religion, Title, HireDate, ServiceYrs, AdjustedServiceDate, SupervisorNumber, SupervisorName, AssignmentCategory, Section, SectionAR, Department, DepartmentAR, Division, DivisionAR, Sector, SectorAR, College, VPID, VPName, Contract_End, Length]
Index: []

[0 rows x 44 columns]

## 3.3 Contract Date

In [154]:
df_employee['Diff'] = df_employee['Contract_End'] - df_employee['HireDate']

In [155]:
df_employee['Diff']

0      2182 days
1      1459 days
2      1459 days
3      1213 days
4            NaT
          ...
1242   2368 days
1243   2336 days
1244   2313 days
1245   2315 days
1246   2284 days
Name: Diff, Length: 1247, dtype: timedelta64[ns]

In [157]:
df_employee_contract = df_employee[(df_employee['Diff'] < '365')]

In [158]:
df_employee_contract

Empty DataFrame
Columns: [EmpNo, PersonID, EmployeeName, EmployeeArabicName, Position, PositionName, PositionCode, PositionAR, Job, OrgUnit, OrgUnitAR, Payroll, Grade, Nationality, ArCountry, NatCat, DateOfBirth, Age, EmailAddress, EmiratesID, MaritalStat, Gender, NearestAirport, Religion, Title, HireDate, ServiceYrs, AdjustedServiceDate, SupervisorNumber, SupervisorName, AssignmentCategory, Section, SectionAR, Department, DepartmentAR, Division, DivisionAR, Sector, SectorAR, College, VPID, VPName, Contract_End, Length, Diff]
Index: []

[0 rows x 45 columns]