# Khalifa University - CACM

- *Student Master Data*

In [1]:
import pandas as pd
import numpy as np
import pyodbc
import seaborn as sns
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

In [2]:
svr_name = 'KU1ICDDWV011.kunet.ae'
db_name_read = 'CACM'
db_name_write = 'CACMP'
u_name = 'cacm_user'
u_pass = 'Welcome#123'

In [3]:
eng_read = create_engine("mssql+pyodbc://"+u_name+":"+u_pass+"@"+svr_name+"/"+db_name_read+"?driver=ODBC+Driver+17+for+SQL+Server")
eng_write = create_engine("mssql+pyodbc://"+u_name+":"+u_pass+"@"+svr_name+"/"+db_name_write+"?driver=ODBC+Driver+17+for+SQL+Server")

In [4]:
query_std_master = "SELECT * FROM dbo.KU_SRC_STD_MASTER"
df_student_master = pd.read_sql(query_std_master, eng_read)

In [7]:
student = df_student_master.copy()

In [22]:
std = student.loc[:,["ID","FULL_NAME","ADMIT_TERM","START_DATE","STUDENT_LEVEL","STUDENT_STATUS"]]

In [27]:
std[std["STUDENT_STATUS"]=="Active"]

,ID,FULL_NAME,ADMIT_TERM,START_DATE,STUDENT_LEVEL,STUDENT_STATUS
135,100035244,Abdulrahman Mohamad Agha,201910,2019-08-25,PH,Active
141,100036658,Sarah Kassem Azzam,201720,2018-01-14,PH,Active
163,100038235,Mira Omar Mohamed Hassan Abdulla,202210,2022-08-29,GR,Active
175,100020345,Maryam Mohamed Abdulla Mohamed Al Ali,202010,2020-08-23,UG,Active
209,100040178,Amna Ali Samrah Ali Alshehhi,201910,2019-08-25,GR,Active
...,...,...,...,...,...,...
17595,100063487,Muath Abdullah Mohammad Tuffaha,202210,2022-08-29,UG,Active
17596,100063494,Mohamed Azhar Hussain Hassan Mohamed,202210,2022-08-29,PP,Active
17597,100063495,Omar Osama Fathi Galal,202210,2022-08-29,UG,Active
17598,100063499,Mohamed Noor Tamim Karabala,202210,2022-08-29,UG,Active
17599,100063505,Mazen Akram Shaker Yaseen Salem,202210,2022-08-29,UG,Active