In [2]:
import pandas as pd
import numpy as np
import pyodbc
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
import datetime as dt
import seaborn as sns

In [3]:
svr_name = 'KU1ICDDWV011.kunet.ae'
db_name_read = 'CACM'
db_name_write = 'CACMP'
u_name = 'cacm_user'
u_pass = 'Welcome#123'

In [4]:
eng_read = create_engine("mssql+pyodbc://"+u_name+":"+u_pass+"@"+svr_name+"/"+db_name_read+"?driver=ODBC+Driver+17+for+SQL+Server")
eng_write = create_engine("mssql+pyodbc://"+u_name+":"+u_pass+"@"+svr_name+"/"+db_name_write+"?driver=ODBC+Driver+17+for+SQL+Server")

In [5]:
query_pr = "select * from dbo.KU_SRC_BI_KUST_PR"
query_po = "select * from dbo.KU_SRC_BI_KUST_PO"
query_ap = "select * from dbo.KU_SRC_BI_KUST_ap"

In [6]:
pr = pd.read_sql(query_pr, eng_read)
po = pd.read_sql(query_po, eng_read)
ap = pd.read_sql(query_ap, eng_read)

In [7]:
po.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51053 entries, 0 to 51052
Data columns (total 56 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   PO_NUMBER                  51053 non-null  object
 1   AUTHORIZATION_STATUS       51030 non-null  object
 2   PO_TYPE                    51053 non-null  object
 3   ITEM_CATEGORY              51053 non-null  object
 4   ITEM_CATEGORY_DESCRIPTION  51052 non-null  object
 5   ITEM_CODE                  51053 non-null  object
 6   ITEM_DESCRIPTION           114 non-null    object
 7   GL_ENCUMBERED_DATE         51053 non-null  datetime64[ns]
 8   CREATION_DATE              51053 non-null  datetime64[ns]
 9   ENCUMBERED_AMOUNT          44843 non-null  float64
 10  QUANTITY_ORDERED           43068 non-null  float64
 11  REQUISITION_NUM            34746 non-null  object
 12  RATE                       51053 non-null  float64
 13  LINE_NUM                   51053 non-null  float64
 14  DISTRIBUTION_NUM           51053 non-null  float64
 15  UNIT_PRICE                 48590 non-null  float64
 16  VENDOR_ID                  51044 non-null  float64
 17  CLOSED_CODE                50600 non-null  object
 18  ENTITY_CODE                51053 non-null  object
 19  ENTITY_DESCRIPTION         51053 non-null  object
 20  LEDGER_NAME                51053 non-null  object
 21  PROJECT_NUM                22398 non-null  object
 22  PROJECT_NAME               22398 non-null  object
 23  PO_SUBMISION_DATE          50298 non-null  datetime64[ns]
 24  PO_APPROVED_DATE           49193 non-null  datetime64[ns]
 25  PROMISED_DATE              39034 non-null  datetime64[ns]
 26  NEED_BY_DATE               30689 non-null  datetime64[ns]
 27  PO_DESCRIPTION             26459 non-null  object
 28  PO_LINE_DESCRIPTION        51053 non-null  object
 29  PO_BUYER                   51053 non-null  object
 30  COST_CENTER_CODE           51053 non-null  object
 31  COST_CENTER_DESC           51053 non-null  object
 32  BUDGET_CODE                51053 non-null  object
 33  BUDGET_DESC                51053 non-null  object
 34  ACCOUNT_CODE               51053 non-null  object
 35  ACCOUNT_DESC               51053 non-null  object
 36  ACTIVITY_CODE              51053 non-null  object
 37  ACTIVITY_DESC              51053 non-null  object
 38  FUTURE1_CODE               51053 non-null  object
 39  FUTURE1_DESC               51053 non-null  object
 40  FUTURE2_CODE               51053 non-null  object
 41  FUTURE2_DESC               51053 non-null  object
 42  GL_CODE                    51053 non-null  object
 43  GL_DESC                    51053 non-null  object
 44  VENDOR_NUM                 51044 non-null  object
 45  VENDOR_NAME                51044 non-null  object
 46  VENDOR_SITE                51044 non-null  object
 47  CURRENCY_CODE              51053 non-null  object
 48  AMOUNT_ORDERED             51052 non-null  float64
 49  QUANTITY_DELIVERED         51053 non-null  float64
 50  AMOUNT_DELIVERED           50649 non-null  float64
 51  QUANTITY_BILLED            51053 non-null  float64
 52  AMOUNT_BILLED              50552 non-null  float64
 53  QUANTITY_CANCELLED         50503 non-null  float64
 54  AMOUNT_CANCELLED           49331 non-null  float64
 55  VENDOR_COUNTRY             51044 non-null  object
dtypes: datetime64[ns](6), float64(14), object(36)
memory usage: 21.8+ MB

In [17]:
sheet1 = pd.read_excel('Copy of Sourcing (competetive vs. single).xlsx',sheet_name=0)

In [18]:
sheet2 = pd.read_excel('Copy of Sourcing (competetive vs. single).xlsx',sheet_name=1)

In [23]:
S2 = sheet2[['Requisition Number']].drop_duplicates()

In [27]:
S1 = sheet1[['Requisition Number']].drop_duplicates()